Notebook purpose

- Determine appropriate model specifications

In [1]:
import os
import sys

import linearmodels as lm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import s3fs
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.cleaners as cl
import entropy.data.creators as cr
import entropy.figures.figures as figs
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh
from entropy import config

sns.set_style("whitegrid")
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [ ]:
dfs, df = hd.read_samples(["777", "XX7"])
hd.inspect(df)

Time for read_sample    : 2.13 seconds

## Entropy - within vs between variation

In [201]:
def user_month_data(df):
    columns = ["user_id", "date", "entropy_sptac"]
    month = pd.Grouper(key="date", freq="M")
    return (
        df[columns]
        .groupby(["user_id", month])
        .first()
        .reset_index()
        .set_index(["user_id", "date"], drop=False)
    )

data = user_month_data(dfs)
data.head(2)

                    user_id       date  entropy_sptac
user_id date
777     2012-01-31      777 2012-01-31       2.871019
        2012-02-29      777 2012-02-29       2.838295

Variation in entropy between users accounts for about 54 percent of total variation.

In [200]:
resPanelOLS = lm.PanelOLS.from_formula("entropy_sptac ~ C(user_id)", data=idata).fit()
print(lm.panel.compare([resPanelOLS], stars=True))

                   Model Comparison
=====================================================
                              Model 0         Model 1
-----------------------------------------------------
Dep. Variable           entropy_sptac   entropy_sptac
Estimator                   PooledOLS        PanelOLS
No. Observations                  788             788
Cov. Est.                  Unadjusted      Unadjusted
R-squared                      0.5425          0.5425
R-Squared (Within)             0.0000          0.0000
R-Squared (Between)            1.0000          1.0000
R-Squared (Overall)            0.5425          0.5425
F-statistic                    36.139          36.139
P-value (F-stat)               0.0000          0.0000
===================== =============== ===============
C(user_id)[777]             2.7645***       2.7645***
                             (165.49)        (165.49)
C(user_id)[58777]           2.7704***       2.7704***
                             (69.666)        (69.666)
C(user_id)[76777]           2.6736***       2.6736***
                             (44.822)        (44.822)
C(user_id)[179777]          2.6076***       2.6076***
                             (43.714)        (43.714)
C(user_id)[199777]          2.6232***       2.6232***
                             (128.21)        (128.21)
C(user_id)[316777]          2.6985***       2.6985***
                             (78.356)        (78.356)
C(user_id)[349777]          2.6055***       2.6055***
                             (108.10)        (108.10)
C(user_id)[437777]          2.5010***       2.5010***
                             (44.471)        (44.471)
C(user_id)[445777]          2.7656***       2.7656***
                             (94.164)        (94.164)
C(user_id)[448777]          2.5004***       2.5004***
                             (39.210)        (39.210)
C(user_id)[476777]          2.2789***       2.2789***
                             (61.897)        (61.897)
C(user_id)[482777]          2.7246***       2.7246***
                             (70.390)        (70.390)
C(user_id)[487777]          2.5457***       2.5457***
                             (54.403)        (54.403)
C(user_id)[489777]          2.6894***       2.6894***
                             (67.629)        (67.629)
C(user_id)[501777]          1.8141***       1.8141***
                             (45.619)        (45.619)
C(user_id)[513777]          2.4939***       2.4939***
                             (94.649)        (94.649)
C(user_id)[523777]          2.6346***       2.6346***
                             (54.094)        (54.094)
C(user_id)[536777]          2.4376***       2.4376***
                             (99.049)        (99.049)
C(user_id)[538777]          2.4882***       2.4882***
                             (96.707)        (96.707)
C(user_id)[542777]          2.8328***       2.8328***
                             (41.128)        (41.128)
C(user_id)[551777]          2.7409***       2.7409***
                             (76.198)        (76.198)
C(user_id)[554777]          2.5320***       2.5320***
                             (94.915)        (94.915)
C(user_id)[560777]          2.4048***       2.4048***
                             (90.148)        (90.148)
C(user_id)[562777]          2.7811***       2.7811***
                             (104.25)        (104.25)
C(user_id)[567777]          2.4215***       2.4215***
                             (91.899)        (91.899)
C(user_id)[578777]          2.6428***       2.6428***
                             (100.30)        (100.30)
-----------------------------------------------------

T-stats reported in parentheses