Notebook purpose

- Replicate analysis of davenport2020spending

In [1]:
import os
import sys
import numpy as np
import pandas as pd
sys.path.append('/Users/fgu/dev/projects/entropy')
import entropy.helpers.aws as aws

pd.set_option('display.max_rows', 120)
pd.set_option('display.max_columns', 120)
pd.set_option('max_colwidth', None)
%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

In [2]:
d = aws.BucketManager('3di-data-mdb/clean')
d.list()

['3di-data-mdb/clean/',
 '3di-data-mdb/clean/data_XX7.parquet',
 '3di-data-mdb/clean/mdb_000.parquet',
 '3di-data-mdb/clean/mdb_777.parquet',
 '3di-data-mdb/clean/mdb_X77.parquet',
 '3di-data-mdb/clean/mdb_costa.parquet']

# Prepare data

In [6]:
def read_sample(sample):
    """Read clean data for sample."""
    fp = f's3://3di-data-mdb/clean/mdb_{SAMPLE}.parquet'
    return aws.s3read_parquet(fp)

def clean_data(df):
    """Prepare data for analysis"""
    return df


SAMPLE = '777'

df = (
    read_sample(SAMPLE)
    .pipe(clean_data)
)

print(df.shape)
df.head(2)

(682656, 28)

,id,date,user_id,amount,desc,merchant,tag_up,user_female,user_lsoa,user_msoa,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,credit_debit,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_recorded_balance,merchant_business_line,tag_auto,tag_manual,updated_flag
0,688261,2012-01-03,777,-400.00,<mdbremoved> - s/o,no merchant,other account,False,e01012553,e02002603,wa1 4,2011-07-20,20k to 30k,1969.0,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,debit,2014-07-18,2017-11-13,True,364.22,non merchant mbl,transfers,other account,u
1,688264,2012-01-03,777,-10.27,"9572 30dec11 , mcdonalds , restaurant , winwick road gb - pos",mcdonalds,dining and drinking,False,e01012553,e02002603,wa1 4,2011-07-20,20k to 30k,1969.0,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,debit,2014-07-18,2015-03-19,True,364.22,mcdonalds,dining and drinking,no tag,u

In [11]:
df.groupby('user_id').user_id.count().describe()

count      283.000000
mean      2412.212014
std       2341.533982
min          5.000000
25%        698.000000
50%       1610.000000
75%       3463.000000
max      13176.000000
Name: user_id, dtype: float64

In [7]:
df.user_id.nunique()

283

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682656 entries, 0 to 682655
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                682656 non-null  int32
 1   date                              682656 non-null  datetime64[ns]
 2   user_id                           682656 non-null  int32
 3   amount                            682656 non-null  float32
 4   desc                              682442 non-null  object
 5   merchant                          682656 non-null  object
 6   tag_up                            682656 non-null  object
 7   user_female                       682656 non-null  bool
 8   user_lsoa                         678394 non-null  object
 9   user_msoa                         678394 non-null  object
 10  user_postcode                     682656 non-null  object
 11  user_registration_date            682656 non-null  datetime64[ns]
 12  user_salary_range                 148013 non-null  object
 13  user_yob                          638950 non-null  float32
 14  account_created                   682656 non-null  datetime64[ns]
 15  account_id                        682656 non-null  int32
 16  account_last_refreshed            682656 non-null  datetime64[ns]
 17  account_provider                  682656 non-null  object
 18  account_type                      682656 non-null  object
 19  credit_debit                      682656 non-null  object
 20  data_warehouse_date_created       682656 non-null  datetime64[ns]
 21  data_warehouse_date_last_updated  682656 non-null  datetime64[ns]
 22  debit                             682656 non-null  bool
 23  latest_recorded_balance           682656 non-null  float64
 24  merchant_business_line            682656 non-null  object
 25  tag_auto                          682656 non-null  object
 26  tag_manual                        682656 non-null  object
 27  updated_flag                      682656 non-null  object
dtypes: bool(2), datetime64[ns](6), float32(2), float64(1), int32(3), object(14)
memory usage: 123.7+ MB

# Exploration

In [36]:
df.date.describe()

/var/folders/xg/n9p73cf50s52twlnz7z778vr0000gn/T/ipykernel_2430/1371252037.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.date.describe()

count                  682656
unique                   3002
top       2018-04-03 00:00:00
freq                     1940
first     2012-01-03 00:00:00
last      2020-08-16 00:00:00
Name: date, dtype: object

In [28]:
df.tag_up.value_counts()[:5]

no tag                        188717
food, groceries, household     61572
transfers                      44864
cash                           29073
enjoyment                      27999
Name: tag_up, dtype: int64

In [35]:
mask = ((df.tag_up == 'transfers')
        & (df.account_type == 'savings')
        & (df.amount > 0))

df[mask].sort_values(['user_id', 'date'])[['user_id', 'date', 'amount', 'desc']][:100]

,user_id,date,amount,desc
6108,777,2019-02-11,120.000000,from a/c xxxx5781 via mobile - xfer - dpc
6109,777,2019-02-11,60.000000,from a/c xxxx5781 via mobile - xfer - dpc
6141,777,2019-02-25,250.000000,from a/c xxxx5781 via mobile - xfer - dpc
6142,777,2019-02-25,100.000000,from a/c xxxx5781 via mobile - xfer - dpc
6156,777,2019-02-27,100.000000,from a/c xxxx5781 via mobile - xfer - dpc
6252,777,2019-03-29,155.000000,from a/c xxxx5781 via mobile - xfer - dpc
6253,777,2019-03-29,175.000000,from a/c xxxx5781 via mobile - xfer - dpc
6458,777,2019-06-03,600.000000,<mdbremoved>
6504,777,2019-06-18,480.000000,<mdbremoved>
6607,777,2019-07-25,100.000000,from a/c xxxx5781 via mobile - xfer - dpc
20554,8777,2017-08-09,29.000000,from xxxx8073 type: no description available - -
20584,8777,2017-08-17,14998.000000,<mdbremoved>
20598,8777,2017-08-21,5304.729980,<mdbremoved>
20624,8777,2017-08-25,3523.860107,<mdbremoved>
20693,8777,2017-09-06,135.570007,from xxxx8073 type: no description available - -
20737,8777,2017-09-20,2942.699951,<mdbremoved>
20759,8777,2017-09-25,2961.659912,<mdbremoved>
20806,8777,2017-10-02,996.390015,<mdbremoved>
20853,8777,2017-10-09,3334.000000,<mdbremoved>
20859,8777,2017-10-10,103.000000,from xxxx8073 type: no description available - -
20873,8777,2017-10-12,0.400000,from xxxx8073 type: no description available - -
20891,8777,2017-10-18,14.000000,from xxxx8073 type: no description available - -
20915,8777,2017-10-23,357.869995,<mdbremoved>
20939,8777,2017-10-25,2890.320068,<mdbremoved>
20967,8777,2017-11-01,97.889999,from xxxx8073 type: no description available - -
20994,8777,2017-11-02,891.000000,<mdbremoved>
22090,8777,2018-08-01,246.100006,from xxxxxx73 -
22174,8777,2018-08-20,937.359985,<mdbremoved>
22178,8777,2018-08-20,937.359985,<mdbremoved>
22217,8777,2018-08-23,3160.030029,<mdbremoved>
22222,8777,2018-08-23,3160.030029,<mdbremoved>
22237,8777,2018-08-24,2898.979980,<mdbremoved>
22242,8777,2018-08-24,2898.979980,<mdbremoved>
22312,8777,2018-09-03,209.100006,from xxxxxx73 -
22326,8777,2018-09-03,209.100006,from xxxxxx73 -
22422,8777,2018-09-18,700.000000,<mdbremoved>
22426,8777,2018-09-18,700.000000,<mdbremoved>
22484,8777,2018-09-25,4017.620117,<mdbremoved>
22487,8777,2018-09-25,4017.620117,<mdbremoved>
22505,8777,2018-09-27,1550.000000,<mdbremoved>
22508,8777,2018-09-27,1550.000000,<mdbremoved>
22563,8777,2018-10-01,360.489990,<mdbremoved>
22575,8777,2018-10-01,360.489990,<mdbremoved>
22655,8777,2018-10-15,1701.699951,<mdbremoved>
22659,8777,2018-10-15,1701.699951,<mdbremoved>
22679,8777,2018-10-18,898.000000,<mdbremoved>
22683,8777,2018-10-18,898.000000,<mdbremoved>
22708,8777,2018-10-22,3545.300049,<mdbremoved>
22713,8777,2018-10-22,3545.300049,<mdbremoved>
22745,8777,2018-10-25,3107.260010,<mdbremoved>
22750,8777,2018-10-25,3107.260010,<mdbremoved>
22792,8777,2018-10-30,3474.000000,<mdbremoved>
22797,8777,2018-10-30,3474.000000,<mdbremoved>
22798,8777,2018-10-30,3666.000000,<mdbremoved>
22835,8777,2018-11-01,242.600006,from xxxxxx73 -
22848,8777,2018-11-01,242.600006,from xxxxxx73 -
22911,8777,2018-11-12,161.970001,from xxxxxx73 -
22915,8777,2018-11-12,161.970001,from xxxxxx73 -
22953,8777,2018-11-19,890.599976,<mdbremoved>
22957,8777,2018-11-19,890.599976,<mdbremoved>
22968,8777,2018-11-20,2666.219971,<mdbremoved>
22974,8777,2018-11-20,2666.219971,<mdbremoved>
23001,8777,2018-11-23,3097.800049,<mdbremoved>
23004,8777,2018-11-23,3097.800049,<mdbremoved>
23074,8777,2018-12-03,335.470001,<mdbremoved>
23087,8777,2018-12-03,335.470001,<mdbremoved>
23142,8777,2018-12-10,189.270004,from xxxxxx73 -
23147,8777,2018-12-10,189.270004,from xxxxxx73 -
23184,8777,2018-12-18,708.030029,<mdbremoved>
23190,8777,2018-12-18,708.030029,<mdbremoved>
23202,8777,2018-12-20,3095.889893,<mdbremoved>
23206,8777,2018-12-20,3095.889893,<mdbremoved>
23367,8777,2019-01-17,11.960000,from xxxxxx73 -
23371,8777,2019-01-17,11.960000,from xxxxxx73 -
23377,8777,2019-01-18,900.000000,<mdbremoved>
23380,8777,2019-01-18,900.000000,<mdbremoved>
23401,8777,2019-01-22,8301.049805,<mdbremoved>
23408,8777,2019-01-22,8301.049805,<mdbremoved>
23445,8777,2019-01-25,3011.489990,<mdbremoved>
23450,8777,2019-01-25,3011.489990,<mdbremoved>
23516,8777,2019-02-01,254.020004,<mdbremoved>
23529,8777,2019-02-01,254.020004,<mdbremoved>
23629,8777,2019-02-18,900.000000,<mdbremoved>
23632,8777,2019-02-18,900.000000,<mdbremoved>
23650,8777,2019-02-20,1842.030029,<mdbremoved>
23654,8777,2019-02-20,1842.030029,<mdbremoved>
23685,8777,2019-02-25,2961.459961,<mdbremoved>
23690,8777,2019-02-25,2961.459961,<mdbremoved>
23755,8777,2019-03-01,172.589996,from xxxxxx73 -
23769,8777,2019-03-01,172.589996,from xxxxxx73 -
23804,8777,2019-03-06,4305.759766,<mdbremoved>
23809,8777,2019-03-06,4305.759766,<mdbremoved>
23925,8777,2019-03-18,623.659973,<mdbremoved>
23929,8777,2019-03-18,623.659973,<mdbremoved>
23965,8777,2019-03-21,176.229996,from xxxxxx73 -
23970,8777,2019-03-21,176.229996,from xxxxxx73 -
24010,8777,2019-03-25,2676.459961,<mdbremoved>
24016,8777,2019-03-25,2676.459961,<mdbremoved>
24117,8777,2019-04-01,241.020004,from xxxxxx73 -
24131,8777,2019-04-01,241.020004,from xxxxxx73 -