Notebook purpose

- Replicate analysis of davenport2020spending

In [1]:
import os
import sys
import numpy as np
import pandas as pd
sys.path.append('/Users/fgu/dev/projects/entropy')
import entropy.helpers.aws as aws
import entropy.data.cleaners as cl

pd.set_option('display.max_rows', 120)
pd.set_option('display.max_columns', 120)
pd.set_option('max_colwidth', None)
%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

In [2]:
d = aws.S3BucketManager("")
d.list()

['3di-data-experian',
 '3di-data-fable',
 '3di-data-huq',
 '3di-data-mdb',
 '3di-data-ons',
 '3di-project-entropy',
 '3di-project-habits',
 '3di-project-te']

In [415]:
df = aws.s3read_parquet('s3://3di-data-mdb/raw/mdb_000.parquet')

In [3]:
df = aws.s3read_parquet('s3://3di-project-entropy/entropy_000.parquet')
df.head(2)

Empty DataFrame
Columns: [id, date, user_id, amount, desc, merchant, tag_up, user_female, user_postcode, user_registration_date, user_salary_range, user_yob, account_created, account_id, account_last_refreshed, account_provider, account_type, data_warehouse_date_created, data_warehouse_date_last_updated, debit, latest_recorded_balance, merchant_business_line, tag, tag_auto, tag_manual, ym]
Index: []

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                0 non-null      int32
 1   date                              0 non-null      datetime64[ns]
 2   user_id                           0 non-null      int32
 3   amount                            0 non-null      float32
 4   desc                              0 non-null      category
 5   merchant                          0 non-null      category
 6   tag_up                            0 non-null      category
 7   user_female                       0 non-null      object
 8   user_postcode                     0 non-null      category
 9   user_registration_date            0 non-null      datetime64[ns]
 10  user_salary_range                 0 non-null      category
 11  user_yob                          0 non-null      float32
 12  account_created                   0 non-null      datetime64[ns]
 13  account_id                        0 non-null      int32
 14  account_last_refreshed            0 non-null      datetime64[ns]
 15  account_provider                  0 non-null      category
 16  account_type                      0 non-null      category
 17  data_warehouse_date_created       0 non-null      datetime64[ns]
 18  data_warehouse_date_last_updated  0 non-null      datetime64[ns]
 19  debit                             0 non-null      bool
 20  latest_recorded_balance           0 non-null      float32
 21  merchant_business_line            0 non-null      category
 22  tag                               0 non-null      object
 23  tag_auto                          0 non-null      category
 24  tag_manual                        0 non-null      category
 25  ym                                0 non-null      int64
dtypes: bool(1), category(10), datetime64[ns](6), float32(3), int32(3), int64(1), object(2)
memory usage: 1.2+ KB