In [1]:
import sys

import numpy as np
import pandas as pd
import s3fs
import seaborn as sns

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.aggregators as agg
import entropy.data.cleaners as cl
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.data.validators as vl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [3]:
fs.ls("3di-data-argus")

['3di-data-argus/Argus_Merchant_Group_Hierarchy_2018-05-08.csv',
 '3di-data-argus/README_Merchant_Group_Hierarchy.txt',
 '3di-data-argus/UKCA_Behavioural_Modelling_Account_Level.txt',
 '3di-data-argus/UKCA_Behavioural_Modelling_Trans_Level.txt',
 '3di-data-argus/postcodes.csv']

In [15]:
fp = "s3://3di-data-argus/postcodes.csv"
df = ha.read_csv(fp, nrows=3)
df

   CustomerNumber PostcodeDistrict
0           59671             BH06
1         1530724             BN02
2         2414080             BS25

In [14]:
fp = "s3://3di-data-argus/Argus_Merchant_Group_Hierarchy_2018-05-08.csv"
df = ha.read_csv(fp, nrows=3, header=1, usecols=range(1, 5))
df

,Argus Merchant Group,Argus Merchant Group Description,Category,Category Description
0,1,Airlines,3000,UNITED AIRLINES
1,1,Airlines,3001,AMERICAN AIRLINES
2,1,Airlines,3005,BRITISH AIRWAYS

In [27]:
fp = "s3://3di-data-argus/UKCA_Behavioural_Modelling_Account_Level.txt"
df = ha.read_csv(fp, nrows=3)
df
# df.groupby(['CustomerNumber', 'AccountNumber']).PeriodId.nunique()

,CustomerNumber,AccountNumber,PeriodId,AnnualFeeFlag,Cyc_Xxx_AprMerchant,Cyc_Xxx_AprCash,Cyc_Xxx_CreditLimitTotal,Cyc_Xxx_CycleEndDate,Cyc_Xxx_BalanceBeginning,Cyc_Xxx_BalanceEnding,Cyc_Xxx_BalanceAdb,Cyc_Xxx_BalanceRevolving,Cyc_Xxx_CyclesDelinquent,Cyc_Xxx_PaymentDueDate,Cyc_Xxx_PaymentMinimumDueAmount,Status,Cyc_Xxx_UnitChargeOffRate,OpenDate
0,850241,1482948,201304,0,0.159,0.279,5700,2013-04-12 00:00:00,139.67,6.90,155.9342,0,0,NaN,0,Open,0.012,2008-10-16 00:00:00
1,850241,1482948,201305,0,0.159,0.279,5700,2013-05-12 00:00:00,6.90,138.41,3.2200,0,0,NaN,0,Open,0.012,2008-10-16 00:00:00
2,850241,1482948,201306,0,0.159,0.279,5700,2013-06-14 00:00:00,138.41,138.41,138.4100,0,0,NaN,0,Open,0.016,2008-10-16 00:00:00

In [29]:
fp = "s3://3di-data-argus/UKCA_Behavioural_Modelling_Trans_Level.txt"
df = ha.read_csv(fp, nrows=100)
df

,CustomerNumber,AccountNumber,CyclePeriod,TransactionType,TransactionAmount,TransactionCount
0,1,1,201212,Finance Charges: Purchases,14.32,1
1,1,1,201301,Finance Charges: Purchases,14.49,1
2,1,1,201301,Payments: Non-DD,-40.00,1
3,1,1,201301,Purchases: MCC Group 9,19.99,1
4,1,1,201302,Finance Charges: Purchases,14.08,1
5,1,1,201302,Payments: Non-DD,-50.00,1
6,1,1,201303,Finance Charges: Purchases,12.41,1
7,1,1,201303,Payments: Non-DD,-30.00,1
8,1,1,201304,Finance Charges: Purchases,13.58,1
9,1,1,201304,Payments: Non-DD,-20.00,1
10,1,1,201305,Finance Charges: Purchases,12.76,1
11,1,1,201305,Payments: Non-DD,-40.00,1
12,1,1,201306,Fees: Foreign Currency,9.36,1
13,1,1,201306,Finance Charges: Purchases,13.95,1
14,1,1,201306,Payments: Non-DD,-350.00,1
15,1,1,201306,Purchases: MCC Group 19,340.44,1
16,1,1,201306,Purchases: MCC Group 9,117.56,1
17,1,1,201307,NaN,1000.00,1
18,1,1,201307,Fees: BT/CC,30.00,1
19,1,1,201307,Finance Charges: Purchases,12.44,1
20,1,1,201307,Payments: Non-DD,-200.00,1
21,1,1,201308,Finance Charges: Purchases,10.91,1
22,1,1,201308,Payments: Non-DD,-120.00,1
23,1,1,201309,Finance Charges: Purchases,9.83,1
24,1,1,201309,Payments: Non-DD,-60.00,1
25,1,1,201310,Finance Charges: Purchases,8.09,1
26,1,1,201310,Payments: Non-DD,-100.00,1
27,1,1,201311,Finance Charges: Purchases,5.74,1
28,1,1,201311,Payments: Non-DD,-150.00,1
29,1,1,201312,Finance Charges: Purchases,3.95,1
30,1,1,201312,Payments: Non-DD,-100.00,1
31,1,1,201401,Finance Charges: Purchases,2.95,1
32,1,1,201401,Payments: Non-DD,-50.00,1
33,1,1,201402,Finance Charges: Purchases,0.88,1
34,1,1,201402,Payments: Non-DD,-139.00,1
35,1,1,201403,Finance Charges: Purchases,0.03,1
36,1,1,201403,Payments: Non-DD,-150.00,1
37,1,1,201404,Payments: Non-DD,-50.00,1
38,1,1,201405,Payments: Non-DD,-150.00,1
39,1,1,201406,Finance Charges: Purchases,0.50,1
40,1,1,201406,Payments: Non-DD,-150.00,1
41,1,1,201406,Purchases: MCC Group 9,39.99,1
42,1,1,201407,Finance Charges: Purchases,0.91,1
43,1,1,201407,Payments: Non-DD,-100.00,1
44,1,1,201407,Purchases: MCC Group 18,24.99,1
45,1,1,201407,Purchases: MCC Group 9,39.99,1
46,1,1,201408,Finance Charges: Cash Advance,7.94,1
47,1,1,201408,Finance Charges: Purchases,0.27,1
48,1,1,201408,Payments: Non-DD,-100.00,1
49,1,1,201409,Cash Advances,110.00,2
50,1,1,201409,Fees: Cash Advance,6.00,2
51,1,1,201409,Finance Charges: Cash Advance,8.18,2
52,1,1,201409,Finance Charges: Purchases,5.01,1
53,1,1,201409,Payments: Non-DD,-60.00,1
54,1,1,201409,Purchases: MCC Group 5,602.45,1
55,1,1,201410,Finance Charges: Cash Advance,6.93,2
56,1,1,201410,Finance Charges: Purchases,9.55,1
57,1,1,201410,Payments: Non-DD,-200.00,1
58,1,1,201411,Finance Charges: Cash Advance,6.70,1
59,1,1,201411,Finance Charges: Purchases,9.16,1
60,1,1,201411,Payments: Non-DD,-50.00,1
61,1,1,201412,Cash Advances,1000.00,1
62,1,1,201412,Fees: Cash Advance,30.00,1
63,1,1,201412,Finance Charges: Cash Advance,20.12,2
64,1,1,201412,Finance Charges: Purchases,6.99,1
65,1,1,201412,Payments: Non-DD,-150.00,1
66,1,1,201501,Payments: Non-DD,-100.00,2
67,2,2,201309,Payments: Non-DD,-298.96,4
68,2,2,201309,Purchases: MCC Group 24,298.96,1
69,2,2,201402,NaN,30.00,3
70,2,2,201402,Payments: Non-DD,-30.00,1
71,2,2,201407,Payments: Non-DD,-91.05,5
72,2,2,201407,Purchases: MCC Group 14,13.08,1
73,2,2,201407,Purchases: MCC Group 19,48.74,1
74,2,2,201407,Purchases: MCC Group 26,29.23,1
75,3,3,201411,Purchases: MCC Group 1,202.32,2
76,3,3,201411,Purchases: MCC Group 12,5.49,2
77,3,3,201411,Purchases: MCC Group 13,211.71,3
78,3,3,201411,Purchases: MCC Group 14,195.56,7
79,3,3,201411,Purchases: MCC Group 24,145.50,1
80,3,3,201411,Purchases: MCC Group 26,85.00,1
81,3,3,201411,Purchases: MCC Group 4,33.03,4
82,3,3,201411,Purchases: MCC Group 6,43.42,3
83,3,3,201412,Fees: Foreign Currency,13.07,5
84,3,3,201412,Payments: Direct Debit,-882.86,1
85,3,3,201412,Purchases: MCC Group 1,3.60,1
86,3,3,201412,Purchases: MCC Group 12,2.63,1
87,3,3,201412,Purchases: MCC Group 13,2949.00,1
88,3,3,201412,Purchases: MCC Group 14,52.84,5
89,3,3,201412,Purchases: MCC Group 17,3173.00,1
90,3,3,201412,Purchases: MCC Group 19,32.94,1
91,3,3,201412,Purchases: MCC Group 24,39.00,1
92,3,3,201412,Purchases: MCC Group 3,336.87,1
93,3,3,201412,Purchases: MCC Group 4,149.44,6
94,3,3,201501,Purchases: MCC Group 14,23.64,1
95,3,5,201212,NaN,NaN,2
96,3,5,201212,Fees: Foreign Currency,1.86,2
97,3,5,201212,Payments: Direct Debit,-219.56,1
98,3,5,201212,Purchases: MCC Group 14,77.57,7
99,3,5,201212,Purchases: MCC Group 17,35.47,2