Notebook purpose:

- Explore types of bank fees we can identify

In [1]:
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import s3fs
import seaborn as sns

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.aggregators as ag
import entropy.data.cleaners as cl
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.data.validators as vl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%load_ext nb_black
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [10]:
df = hd.read_txn_data("777")
hd.inspect(df)

Time for read_txn_data                 : 2.72 seconds
shape: (651,789, 35), users: 279

,date,user_id,amount,desc,merchant,tag_group,tag,user_registration_date,account_created,account_id,account_last_refreshed,account_provider,account_type,birth_year,data_warehouse_date_created,data_warehouse_date_last_updated,id,is_debit,is_female,is_sa_flow,is_salary_pmt,is_urban,latest_balance,lsoa,merchant_business_line,msoa,postcode,region_name,salary_range,tag_auto,tag_manual,tag_spend,tag_up,updated_flag,ym
0,2012-02-01,777,400.00,<mdbremoved> - s/o,NaN,transfers,other_transfers,2011-07-20,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,1969.0,2014-07-18,2017-11-13,688300,True,0.0,False,False,1.0,364.220001,e01012553,non merchant mbl,e02002603,wa1 4,north west,20k to 30k,transfers,other account,NaN,other account,u,2012-02
1,2012-02-01,777,3.03,aviva pa - d/d,aviva,spend,finance,2011-07-20,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,1969.0,2014-07-18,2017-08-15,688299,True,0.0,False,False,1.0,364.220001,e01012553,aviva,e02002603,wa1 4,north west,20k to 30k,health insurance,life insurance,insurance,life insurance,u,2012-02

In [18]:
hd.pat_in_col(df, "finance", "tag").tag_auto.value_counts()[:20]

bank charges                   13608
insurance                       4814
interest charges                3962
personal loan                   2828
life insurance                  1382
banking charges                 1283
vehicle insurance                867
pet insurance                    848
health insurance                 750
payday loan                      604
home appliance insurance         489
contents or other insurance      408
breakdown cover                  354
home insurance                   344
dental insurance                 306
financial - other                294
web hosting                      251
student loan repayment           200
repayments                       141
mobile phone insurance            73
Name: tag_auto, dtype: int64

In [27]:
hd.pat_in_col(df, "payday", "tag_auto").user_id.nunique() / df.user_id.nunique()

0.0931899641577061