In [4]:
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import s3fs
import seaborn as sns

# new code
sys.path.append("/Users/fgu/dev/projects/src")
import src.config as cf
import src.data.aggregators as ag
import src.data.validators as vl
import src.helpers.data as hd

pd.set_option("display.max_rows", 200)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
fs.ls("3di-project-entropy")

['3di-project-entropy/analysis_777.csv',
 '3di-project-entropy/analysis_777.parquet',
 '3di-project-entropy/analysis_X77.csv',
 '3di-project-entropy/analysis_X77.parquet',
 '3di-project-entropy/analysis_XX7.csv',
 '3di-project-entropy/analysis_XX7.parquet',
 '3di-project-entropy/analysis_XX7new.parquet',
 '3di-project-entropy/analysis_XX7old.parquet',
 '3di-project-entropy/debug.parquet',
 '3di-project-entropy/entropy_XX0.parquet']

In [3]:
dft = hd.read_txn_data("X11")
hd.inspect(dft)

Time for read_txn_data                 : 3.23 minutes
shape: (6,653,551, 35), users: 2734

,date,user_id,amount,desc,merchant,tag_group,tag_spend,user_registration_date,account_created,account_id,account_last_refreshed,account_provider,account_type,birth_year,data_warehouse_date_created,data_warehouse_date_last_updated,id,is_debit,is_female,is_sa_flow,is_salary_pmt,is_urban,latest_balance,lsoa,merchant_business_line,msoa,postcode,region_name,salary_range,tag,tag_auto,tag_manual,tag_up,updated_flag,ym
0,2012-01-03,11,69.750000,david lloyd <mdbremoved>,david lloyd,spend,sports,2010-06-30,1900-01-01,303733,2014-07-24 11:05:00,lloyds,current,1954.0,2014-07-18,2017-08-15,80656,True,0.0,False,False,1.0,150.029999,e01015428,david lloyd,e02003207,bh15 4,south west,10k to 20k,hobbies,gym membership,no tag,gym membership,u,2012-01
1,2012-01-03,11,96.400002,sky digital xxxxxxxxxx9317,sky,spend,"entertainment, tv, media",2010-06-30,1900-01-01,303733,2014-07-24 11:05:00,lloyds,current,1954.0,2014-07-18,2017-08-15,80654,True,0.0,False,False,1.0,150.029999,e01015428,sky,e02003207,bh15 4,south west,10k to 20k,services,"entertainment, tv, media",no tag,media bundle,u,2012-01

In [6]:
dft[dft.desc.str.contains("vangua")].tag_auto.value_counts(dropna=False)

pension or investments         799
NaN                             11
vehicle insurance                3
dining or going out              2
pet - toys, training, other      0
                              ...
gas                              0
gas and electricity              0
general savings                  0
gifts - other                    0
investments or shares            0
Name: tag_auto, Length: 213, dtype: int64

In [34]:
d = dft[dft.tag_auto.eq("pension or investments")]

In [37]:
d.tag_group.value_counts()

transfers    9337
income          0
spend           0
Name: tag_group, dtype: int64