Notebook purpose

- Understand nature of duplicate transactions and explore solutions

In [59]:
import os
import sys

import numpy as np
import pandas as pd
import seaborn as sns

sys.path.append('/Users/fgu/dev/projects/entropy')
import entropy.helpers.aws as aws
import entropy.data.cleaners as cl
import entropy.data.helpers as dh

sns.set_style('whitegrid')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 120)
pd.set_option('max_colwidth', None)
%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
m = aws.S3BucketManager('3di-project-entropy')
m.list()

['3di-project-entropy/entropy_000.parquet',
 '3di-project-entropy/entropy_777.parquet',
 '3di-project-entropy/entropy_X77.parquet']

In [3]:
df = aws.s3read_parquet('s3://3di-project-entropy/entropy_X77.parquet')

## Case studies

In [13]:
dh.user_date_data(df, 35177, '1 Jan 2020')

,id,user_id,amount,desc,merchant,tag_group,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,updated_flag,ym,balance,income
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-01-01,806081025,35177,900.00,balance transfer,NaN,transfers,tsransfer,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2020-08-11,1731991,2020-08-14 21:00:00,marks & spencer,credit card,2020-08-12,1900-01-01,True,-3213.429932,personal,transfers,NaN,transfers,c,202001,-3812.719482,-174.445718
2020-01-01,672667040,35177,866.00,<mdbremoved>,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2017-05-25,724235,2020-08-14 20:59:00,hsbc,current,2020-01-03,1900-01-01,True,844.299988,non merchant mbl,NaN,NaN,NaN,c,202001,-721.219604,-174.445718
2020-01-01,806078111,35177,866.00,<mdbremoved>,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2017-05-25,724235,2020-08-14 20:59:00,hsbc,current,2020-08-12,1900-01-01,True,844.299988,non merchant mbl,NaN,NaN,NaN,c,202001,-721.219604,-174.445718
2020-01-01,806081026,35177,26.10,balance transfer <mdbremoved>,NaN,transfers,tsransfer,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2020-08-11,1731991,2020-08-14 21:00:00,marks & spencer,credit card,2020-08-12,1900-01-01,True,-3213.429932,personal,transfers,NaN,transfers,c,202001,-3812.719482,-174.445718
2020-01-01,681780724,35177,11.15,eagle london gb - eagle,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2020-01-12,1900-01-01,True,-6698.250000,NaN,NaN,NaN,NaN,c,202001,-6967.069824,-174.445718
2020-01-01,806077736,35177,11.15,eagle <mdbremoved>,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2020-08-11,1731987,2020-08-14 20:59:00,hsbc,credit card,2020-08-12,1900-01-01,True,-6909.620117,NaN,NaN,NaN,NaN,c,202001,-6930.949707,-174.445718
2020-01-01,681780723,35177,10.75,eagle london gb - eagle,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2020-01-12,1900-01-01,True,-6698.250000,NaN,NaN,NaN,NaN,c,202001,-6967.069824,-174.445718
2020-01-01,806077737,35177,10.75,eagle <mdbremoved>,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2020-08-11,1731987,2020-08-14 20:59:00,hsbc,credit card,2020-08-12,1900-01-01,True,-6909.620117,NaN,NaN,NaN,NaN,c,202001,-6930.949707,-174.445718
2020-01-01,681780726,35177,3.20,tfl travel ch tfl.gov.uk/cp gb - tfl travel ch,tfl,spend,travel,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2020-01-12,1900-01-01,True,-6698.250000,tfl,public transport,NaN,public transport,c,202001,-6967.069824,-174.445718
2020-01-01,806077738,35177,3.20,tfl travel ch <mdbremoved>,tfl,spend,travel,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2020-08-11,1731987,2020-08-14 20:59:00,hsbc,credit card,2020-08-12,1900-01-01,True,-6909.620117,tfl,public transport,NaN,public transport,c,202001,-6930.949707,-174.445718
2020-01-01,681780725,35177,1.50,co-op group food london w12 gb - co-op group food,co-op,spend,household,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2020-01-12,1900-01-01,True,-6698.250000,co-op supermarket,"food, groceries, household",NaN,"food, groceries, household",c,202001,-6967.069824,-174.445718
2020-01-01,806077739,35177,1.50,co-op group food london w12,co-op,spend,household,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2020-08-11,1731987,2020-08-14 20:59:00,hsbc,credit card,2020-08-12,1900-01-01,True,-6909.620117,co-op supermarket,"food, groceries, household",NaN,"food, groceries, household",c,202001,-6930.949707,-174.445718

In [15]:
dh.user_date_data(df, 362977, '1 Jan 2020')

,id,user_id,amount,desc,merchant,tag_group,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,updated_flag,ym,balance,income
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-01-01,676797740,362977,374.000000,amazon.co.uk*fc2ug3e05 amazon.co.uk,amazon,spend,services,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624759,2020-03-12 09:48:00,american express,credit card,2020-01-07,1900-01-01,True,-3445.270020,amazon,enjoyment,NaN,enjoyment,c,202001,-11784.491211,197.502856
2020-01-01,744606627,362977,374.000000,amazon.co.uk*fc2ug3e05 amazon.co.uk,amazon,spend,services,False,nw2 2,2016-11-14,20k to 30k,1985.0,2020-03-26,1645619,2020-08-16 14:20:00,american express,credit card,2020-03-27,1900-01-01,True,-2762.840088,amazon,enjoyment,NaN,enjoyment,c,202001,-11122.581055,197.502856
2020-01-01,674573429,362977,107.949997,paypal *salmadreamw eba xxxxxx7733,paypal,spend,services,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624759,2020-03-12 09:48:00,american express,credit card,2020-01-04,1900-01-01,True,-3445.270020,paypal,enjoyment,NaN,enjoyment,c,202001,-11784.491211,197.502856
2020-01-01,744606629,362977,107.949997,paypal *salmadreamw eba xxxxxx7733,paypal,spend,services,False,nw2 2,2016-11-14,20k to 30k,1985.0,2020-03-26,1645619,2020-08-16 14:20:00,american express,credit card,2020-03-27,1900-01-01,True,-2762.840088,paypal,enjoyment,NaN,enjoyment,c,202001,-11122.581055,197.502856
2020-01-01,673378076,362977,30.350000,"card payment to balady,30.35 gbp, rate 1.00/gbp on xx-xx-2019",NaN,None,None,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624558,2020-08-16 12:06:00,santander,current,2020-01-03,1900-01-01,True,16629.380859,NaN,NaN,NaN,NaN,c,202001,33337.257812,197.502856
2020-01-01,673263612,362977,23.200001,"card payment to willows activity farm,23.20 gbp, rate 1.00/gbp on xx-xx-2019",NaN,None,None,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624558,2020-08-16 12:06:00,santander,current,2020-01-03,1900-01-01,True,16629.380859,NaN,NaN,NaN,NaN,c,202001,33337.257812,197.502856
2020-01-01,672415668,362977,10.100000,"card payment to willows activity farm,10.10 gbp, rate 1.00/gbp on xx-xx-2019",NaN,None,None,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624558,2020-08-16 12:06:00,santander,current,2020-01-03,1900-01-01,True,16629.380859,NaN,NaN,NaN,NaN,c,202001,33337.257812,197.502856
2020-01-01,673825826,362977,9.750000,which?-moto-recurring t london,which,spend,retail,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624759,2020-03-12 09:48:00,american express,credit card,2020-01-04,1900-01-01,True,-3445.270020,which,books / magazines / newspapers,NaN,books / magazines / newspapers,c,202001,-11784.491211,197.502856
2020-01-01,744606630,362977,9.750000,which?-moto-recurring t london,which,spend,retail,False,nw2 2,2016-11-14,20k to 30k,1985.0,2020-03-26,1645619,2020-08-16 14:20:00,american express,credit card,2020-03-27,1900-01-01,True,-2762.840088,which,books / magazines / newspapers,NaN,books / magazines / newspapers,c,202001,-11122.581055,197.502856
2020-01-01,674374257,362977,7.990000,audible uk adbl.co/pymt,audible,spend,retail,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624759,2020-03-12 09:48:00,american express,credit card,2020-01-04,1900-01-01,True,-3445.270020,audible,books / magazines / newspapers,NaN,books / magazines / newspapers,c,202001,-11784.491211,197.502856
2020-01-01,744606628,362977,7.990000,audible uk adbl.co/pymt,audible,spend,retail,False,nw2 2,2016-11-14,20k to 30k,1985.0,2020-03-26,1645619,2020-08-16 14:20:00,american express,credit card,2020-03-27,1900-01-01,True,-2762.840088,audible,books / magazines / newspapers,NaN,books / magazines / newspapers,c,202001,-11122.581055,197.502856
2020-01-01,672965985,362977,7.200000,"card payment to willows activity farm,7.20 gbp, rate 1.00/gbp on xx-xx-2019",NaN,None,None,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624558,2020-08-16 12:06:00,santander,current,2020-01-03,1900-01-01,True,16629.380859,NaN,NaN,NaN,NaN,c,202001,33337.257812,197.502856
2020-01-01,672487189,362977,3.500000,"card payment to balady,3.50 gbp, rate 1.00/gbp on xx-xx-2019",NaN,None,None,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624558,2020-08-16 12:06:00,santander,current,2020-01-03,1900-01-01,True,16629.380859,NaN,NaN,NaN,NaN,c,202001,33337.257812,197.502856
2020-01-01,672900827,362977,1.280000,"card payment to paybyphone re: barnet on,1.28 gbp, rate 1.00/gbp on xx-xx-2019",vwfs,spend,motor,False,nw2 2,2016-11-14,20k to 30k,1985.0,2016-11-14,624558,2020-08-16 12:06:00,santander,current,2020-01-03,1900-01-01,True,16629.380859,vwfs,parking,NaN,parking,c,202001,33337.257812,197.502856

In [18]:
dh.user_date_data(df, 467877, '1 Jan 2020')

,id,user_id,amount,desc,merchant,tag_group,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,updated_flag,ym,balance,income
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-01-01,675722353,467877,282.50,"www.ralphlauren.co.uk chadderton, old",ralph lauren,spend,retail,False,bs4 3,2018-10-21,30k to 40k,1988.0,2019-07-14,1356546,2020-03-11 17:45:00,american express,credit card,2020-01-06,2020-01-18,True,-1547.310059,ralph lauren,clothes - designer or other,NaN,clothes - designer or other,u,202001,-2695.730225,44.32
2020-01-01,760916217,467877,282.50,"www.ralphlauren.co.uk chadderton, old",ralph lauren,spend,retail,False,bs4 3,2018-10-21,30k to 40k,1988.0,2020-04-19,1671779,2020-08-16 10:20:00,american express,credit card,2020-04-20,2020-04-22,True,-1107.729980,ralph lauren,clothes - designer or other,NaN,clothes - designer or other,u,202001,-2962.080322,44.32
2020-01-01,674929767,467877,91.75,myprotein.com xxxxxxx9889,myprotein.com,spend,retail,False,bs4 3,2018-10-21,30k to 40k,1988.0,2019-07-14,1356546,2020-03-11 17:45:00,american express,credit card,2020-01-05,1900-01-01,True,-1547.310059,myprotein.com,"hairdressing, health, other",NaN,"hairdressing, health, other",c,202001,-2695.730225,44.32
2020-01-01,760910751,467877,91.75,myprotein.com xxxxxxx9889,myprotein.com,spend,retail,False,bs4 3,2018-10-21,30k to 40k,1988.0,2020-04-19,1671779,2020-08-16 10:20:00,american express,credit card,2020-04-20,1900-01-01,True,-1107.729980,myprotein.com,"hairdressing, health, other",NaN,"hairdressing, health, other",c,202001,-2962.080322,44.32
2020-01-01,675722354,467877,25.00,bristol city council bristol gbr,NaN,spend,services,False,bs4 3,2018-10-21,30k to 40k,1988.0,2018-10-21,1081233,2020-06-10 09:10:00,sainsburys,credit card,2020-01-06,1900-01-01,True,-318.260010,NaN,council tax,NaN,council tax,c,202001,-518.460938,44.32
2020-01-01,674929766,467877,11.86,mike guerin - <mdbremoved> ' bristol,NaN,transfers,tsransfer,False,bs4 3,2018-10-21,30k to 40k,1988.0,2019-07-14,1356546,2020-03-11 17:45:00,american express,credit card,2020-01-05,1900-01-01,True,-1547.310059,NaN,transfers,NaN,transfers,c,202001,-2695.730225,44.32
2020-01-01,760914427,467877,11.86,mike guerin - <mdbremoved> ' bristol,NaN,transfers,tsransfer,False,bs4 3,2018-10-21,30k to 40k,1988.0,2020-04-19,1671779,2020-08-16 10:20:00,american express,credit card,2020-04-20,1900-01-01,True,-1107.729980,NaN,transfers,NaN,transfers,c,202001,-2962.080322,44.32
2020-01-01,788887525,467877,5.45,portwell place( <mdbremoved> bristol gbr,NaN,transfers,tsransfer,False,bs4 3,2018-10-21,30k to 40k,1988.0,2020-06-14,1708333,2020-08-16 09:37:00,sainsburys,credit card,2020-06-15,2020-06-16,True,-828.239990,NaN,transfers,NaN,transfers,u,202001,-192.179916,44.32

## Classification

Duplicate types:

1. `['user_id', 'date', 'amount', 'account_id', 'desc']` are identical.
    - Reasons for false positives (FP): user makes two identical transactions on the same day (or on subsequent days for txns that appear with a delay).
    - FP examples: TFL, coffee shops, betting shops.


2. `['user_id', 'date', 'amount', 'account_id']` are identical, `desc` is different, but one `desc` is a truncated version of the other.
    - FB reasons: same as above possible, but less likely. Seems more likely that they are actual duplicates created by an updating process (e.g. newer version of a txn with less redacted `desc` gets added without old version being removed, and `updated_flag` is incorrect.


3. `['user_id', 'date', 'amount', 'account_id']` are identical, `desc` is different.
    - FP reasons: above and user makes otherwise identical txns with different merchants.


4. All of the above iterations but without imposing identical account id. This is relevant if there are (many) duplicated accounts, in which case a different account number is no guarantee for a different account.

## Type 1 dups

In [31]:
dup1_subset = ['user_id', 'date', 'amount', 'account_id', 'desc']
df['dup1'] = df.duplicated(subset=dup1_subset)
dup_var = 'dup1'

### Prevalence and value

How prevalent are duplicates?

In [28]:
n_df = len(df)
n_dups = len(df[df[dup_var]])
n_users_dups = df[df[dup_var]].user_id.nunique()
n_users_df = df.user_id.nunique()
txt = 'About {:.1%} of transactions across {:.0%} of users are potential dups.'
print(txt.format(n_dups / n_df, n_users_dups / n_users_df))

About 1.7% of transactions across 97% of users are potential dups.

Gross value of duplicated txns

In [39]:
def distr(x):
    pcts = [.01, .05, .1, .25, .50, .75, .90, .95, .99]
    return x.describe(percentiles=pcts).round(2)

gross_value = df[df[dup_var]].set_index('user_id').amount.abs().groupby('user_id').sum()
distr(gross_value)

count       415.00
mean       4459.53
std       14957.93
min           1.00
1%            4.54
5%           20.46
10%          61.97
25%         237.31
50%         830.10
75%        2647.96
90%        8980.22
95%       16434.12
99%       59013.14
max      183754.34
Name: amount, dtype: float64

Most frequent txns description

In [41]:
df[df[dup_var]].desc.value_counts(dropna=False)[:10]

<mdbremoved>                       1962
<mdbremoved>                        516
<mdbremoved> ft                     359
b365 moto                           263
paypal payment                      195
tfl travel charge tfl.gov.uk/cp     167
www.skybet.com cd 9317              165
<mdbremoved> so                     157
betfair.-purchase                   146
<mdbremoved> - s/o                  143
Name: desc, dtype: int64

In [43]:
df[df[dup_var]].tag_auto.value_counts(dropna=False)[:10]

NaN                         6104
transfers                   3260
gambling                    2273
enjoyment                   1617
public transport            1132
lunch or snacks             1019
bank charges                 862
entertainment, tv, media     556
cash                         520
dining or going out          507
Name: tag_auto, dtype: int64

### Inspect dups

In [98]:
def dup_txn_sample(df, col_subset, n=100):
    """Draws sample of size n of duplicate txns as defined by col_subset."""
    dups = df[df.duplicated(subset=col_subset, keep=False)].copy()
    dups['group'] = dups.groupby(col_subset).grouper.codes_info
    unique_groups = np.unique(dups.group.values)
    sample_groups = np.random.choice(unique_groups, size=n)
    return dups[dups.group.isin(sample_groups)]

dup_txn_sample(df, dup_subset)

,id,date,user_id,amount,desc,merchant,tag_group,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,updated_flag,ym,balance,income,dup1,group
70525,189085313,2017-01-20,35177,5.500000,))) drapers bar london,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2017-02-28,2017-10-23,True,-6698.250000,NaN,NaN,NaN,NaN,u,201701,-1708.709595,19975.649414,False,485
70527,189085317,2017-01-20,35177,5.500000,))) drapers bar london,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2017-02-28,2017-10-23,True,-6698.250000,NaN,NaN,NaN,NaN,u,201701,-1708.709595,19975.649414,True,485
73227,455500226,2018-07-23,35177,51.849998,b/card plat visa,barclaycard,transfers,tsransfer,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2017-05-25,724235,2020-08-14 20:59:00,hsbc,current,2018-09-28,1900-01-01,True,844.299988,barclaycard,credit card,NaN,credit card,c,201807,884.581543,24758.820312,False,569
73233,806078821,2018-07-23,35177,51.849998,b/card plat visa,barclaycard,transfers,tsransfer,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2017-05-25,724235,2020-08-14 20:59:00,hsbc,current,2020-08-12,1900-01-01,True,844.299988,barclaycard,credit card,NaN,credit card,c,201807,884.581543,24758.820312,True,569
75229,626454959,2019-06-14,35177,12.500000,))) buster mantis ltd london se8,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2019-10-14,1900-01-01,True,-6698.250000,NaN,NaN,NaN,NaN,c,201906,-6178.777832,28867.189453,False,628
75230,626454961,2019-06-14,35177,12.500000,))) buster mantis ltd london se8,NaN,None,None,False,xxxx 0,2014-02-14,20k to 30k,1990.0,2016-04-24,558493,2020-03-11 23:17:00,hsbc,credit card,2019-10-14,1900-01-01,True,-6698.250000,NaN,NaN,NaN,NaN,c,201906,-6178.777832,28867.189453,True,628
96448,145362288,2016-06-20,53777,30.000000,"0500 19jun16 , sun bingo , internet mt - pos",sun bingo,spend,services,True,bs4 4,2014-05-10,NaN,1989.0,2015-03-19,405410,2017-11-28 16:21:00,natwest bank,current,2016-06-26,2019-02-04,True,NaN,sun bingo,gambling,NaN,gambling,u,201606,NaN,7560.240234,False,1095
96449,145362290,2016-06-20,53777,30.000000,"0500 19jun16 , sun bingo , internet mt - pos",sun bingo,spend,services,True,bs4 4,2014-05-10,NaN,1989.0,2015-03-19,405410,2017-11-28 16:21:00,natwest bank,current,2016-06-26,2019-02-04,True,NaN,sun bingo,gambling,NaN,gambling,u,201606,NaN,7560.240234,True,1095
105176,66695770,2015-03-02,58077,-900.000000,<mdbremoved>,NaN,None,None,False,dh2 1,2014-05-18,10k to 20k,1982.0,2014-05-18,25563,2020-08-15 09:53:00,hsbc,current,2015-04-01,2015-04-01,False,5449.669922,NaN,NaN,current account,current account,u,201503,5155.119629,244.339996,False,1306
105177,66695772,2015-03-02,58077,-900.000000,<mdbremoved>,NaN,None,None,False,dh2 1,2014-05-18,10k to 20k,1982.0,2014-05-18,25563,2020-08-15 09:53:00,hsbc,current,2015-04-01,2015-04-01,False,5449.669922,NaN,NaN,current account,current account,u,201503,5155.119629,244.339996,True,1306
106754,241590336,2016-09-28,58077,-500.000000,faster payments receipt ref. <mdbremoved>,NaN,None,None,False,dh2 1,2014-05-18,10k to 20k,1982.0,2017-06-21,740171,2020-08-16 10:51:00,santander,current,2017-06-22,2017-08-11,False,25227.000000,NaN,NaN,transfers,transfers,u,201609,9149.197266,302.700012,False,1343
106755,241590337,2016-09-28,58077,-500.000000,faster payments receipt ref. <mdbremoved>,NaN,None,None,False,dh2 1,2014-05-18,10k to 20k,1982.0,2017-06-21,740171,2020-08-16 10:51:00,santander,current,2017-06-22,2017-08-11,False,25227.000000,NaN,NaN,transfers,transfers,u,201609,9149.197266,302.700012,True,1343
136957,509045861,2019-02-07,84277,0.800000,sodexo @ eli lilly cd 0052 deb,sodexo,spend,services,False,l26 6,2014-07-03,NaN,1975.0,2014-07-03,106116,2020-03-09 16:14:00,halifax personal banking,current,2019-02-09,1900-01-01,True,353.339996,sodexo,lunch or snacks,NaN,lunch or snacks,c,201902,415.687500,NaN,False,1621
136959,509045864,2019-02-07,84277,0.800000,sodexo @ eli lilly cd 0052 deb,sodexo,spend,services,False,l26 6,2014-07-03,NaN,1975.0,2014-07-03,106116,2020-03-09 16:14:00,halifax personal banking,current,2019-02-09,1900-01-01,True,353.339996,sodexo,lunch or snacks,NaN,lunch or snacks,c,201902,415.687500,NaN,True,1621
139598,25229649,2014-04-28,84777,17.799999,lul ticket machine cd 9524,tfl,spend,travel,False,st3 6,2014-07-03,NaN,1984.0,2014-07-03,278242,2014-09-17 14:37:00,halifax personal banking,current,2014-07-04,2015-03-19,True,-232.429993,tfl,public transport,NaN,public transport,u,201404,1818.139404,NaN,False,1655
139600,25229650,2014-04-28,84777,17.799999,lul ticket machine cd 9524,tfl,spend,travel,False,st3 6,2014-07-03,NaN,1984.0,2014-07-03,278242,2014-09-17 14:37:00,halifax personal banking,current,2014-07-04,2015-03-19,True,-232.429993,tfl,public transport,NaN,public transport,u,201404,1818.139404,NaN,True,1655
141431,104098118,2015-11-03,85977,-10.000000,<mdbremoved>,NaN,None,None,True,cf61 2,2014-07-04,NaN,1983.0,2014-07-04,152138,2020-03-10 20:58:00,lloyds bank,current,2015-11-04,1900-01-01,False,-3590.159912,NaN,NaN,NaN,NaN,c,201511,-141.543396,8796.000000,False,1673
141432,104098120,2015-11-03,85977,-10.000000,<mdbremoved>,NaN,None,None,True,cf61 2,2014-07-04,NaN,1983.0,2014-07-04,152138,2020-03-10 20:58:00,lloyds bank,current,2015-11-04,1900-01-01,False,-3590.159912,NaN,NaN,NaN,NaN,c,201511,-141.543396,8796.000000,True,1673
177993,108175200,2015-11-30,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2015-12-01,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201511,NaN,3656.760132,False,2681
177994,108175203,2015-11-30,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2015-12-01,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201511,NaN,3656.760132,True,2681
178629,133660286,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,False,2697
178630,133660287,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178631,133660288,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178632,133660290,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178633,133660292,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178634,133660293,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178635,133660295,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178636,133660298,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178637,133660299,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
178638,133660301,2016-04-18,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2016-04-20,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201604,NaN,0.120000,True,2697
180198,192435540,2017-03-13,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2017-03-16,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201703,NaN,117600.000000,False,2799
180199,192435549,2017-03-13,116877,10.000000,b365 moto,bet365,spend,services,False,pa8 6,2014-08-06,NaN,1983.0,2014-08-06,271510,2018-02-03 19:04:00,first direct,current,2017-03-16,2017-09-12,True,NaN,bet365,gambling,NaN,gambling account,u,201703,NaN,117600.000000,True,2799
204927,186410372,2017-02-06,120777,5.000000,uber gb feb04 debit card ending: 0389 transaction date: 04feb17 organisation: uber gb febx4 - po,uber,spend,travel,True,m4 6,2014-08-18,NaN,1985.0,2014-08-18,51904,2017-02-22 19:26:00,natwest bank,current,2017-02-12,2017-08-10,True,NaN,uber,taxi,NaN,taxi,u,201702,NaN,9000.000000,False,3050
204930,186410382,2017-02-06,120777,5.000000,uber gb feb04 debit card ending: 0389 transaction date: 04feb17 organisation: uber gb febx4 - po,uber,spend,travel,True,m4 6,2014-08-18,NaN,1985.0,2014-08-18,51904,2017-02-22 19:26:00,natwest bank,current,2017-02-12,2017-08-10,True,NaN,uber,taxi,NaN,taxi,u,201702,NaN,9000.000000,True,3050
204931,186410384,2017-02-06,120777,5.000000,uber gb feb04 debit card ending: 0389 transaction date: 04feb17 organisation: uber gb febx4 - po,uber,spend,travel,True,m4 6,2014-08-18,NaN,1985.0,2014-08-18,51904,2017-02-22 19:26:00,natwest bank,current,2017-02-12,2017-08-10,True,NaN,uber,taxi,NaN,taxi,u,201702,NaN,9000.000000,True,3050
218249,43756108,2014-11-14,121977,7.900000,the swan forest row,NaN,None,None,False,rh18 5,2014-08-22,NaN,1976.0,2014-08-22,56237,2016-02-05 02:26:00,american express,credit card,2014-11-18,2017-10-23,True,NaN,NaN,NaN,NaN,NaN,u,201411,NaN,NaN,False,3186
218250,43756109,2014-11-14,121977,7.900000,the swan forest row,NaN,None,None,False,rh18 5,2014-08-22,NaN,1976.0,2014-08-22,56237,2016-02-05 02:26:00,american express,credit card,2014-11-18,2017-10-23,True,NaN,NaN,NaN,NaN,NaN,u,201411,NaN,NaN,True,3186
246126,727994156,2020-03-02,137677,100.000000,to a/c xxxx9713 via mobile - xfer - dpc,NaN,transfers,tsransfer,False,gu27 3,2014-09-17,NaN,1972.0,2019-01-05,1140335,2020-03-11 18:15:00,natwest bank,savings,2020-03-07,1900-01-01,True,3656.139893,personal,transfers,NaN,transfers,c,202003,4056.139893,42.000000,False,3388
246127,727994157,2020-03-02,137677,100.000000,to a/c xxxx9713 via mobile - xfer - dpc,NaN,transfers,tsransfer,False,gu27 3,2014-09-17,NaN,1972.0,2019-01-05,1140335,2020-03-11 18:15:00,natwest bank,savings,2020-03-07,1900-01-01,True,3656.139893,personal,transfers,NaN,transfers,c,202003,4056.139893,42.000000,True,3388
246128,727994160,2020-03-02,137677,100.000000,to a/c xxxx9713 via mobile - xfer - dpc,NaN,transfers,tsransfer,False,gu27 3,2014-09-17,NaN,1972.0,2019-01-05,1140335,2020-03-11 18:15:00,natwest bank,savings,2020-03-07,1900-01-01,True,3656.139893,personal,transfers,NaN,transfers,c,202003,4056.139893,42.000000,True,3388
269734,277572534,2017-10-23,160377,4.500000,soho zebrono,NaN,None,None,True,w2 4,2014-10-14,NaN,1991.0,2017-06-16,738093,2020-03-11 00:55:00,lloyds bank,credit card,2017-10-27,1900-01-01,True,-284.390015,NaN,NaN,NaN,NaN,c,201710,-748.809814,NaN,False,3666
269736,277572536,2017-10-23,160377,4.500000,soho zebrono,NaN,None,None,True,w2 4,2014-10-14,NaN,1991.0,2017-06-16,738093,2020-03-11 00:55:00,lloyds bank,credit card,2017-10-27,1900-01-01,True,-284.390015,NaN,NaN,NaN,NaN,c,201710,-748.809814,NaN,True,3666
279444,117646565,2016-01-18,167577,1.200000,paypal *hongkongba cd 2312,paypal,spend,services,True,hg5 8,2014-10-21,NaN,1995.0,2014-10-21,218818,2020-03-09 16:05:00,halifax personal banking,current,2016-01-19,2017-09-12,True,344.809998,paypal,enjoyment,NaN,enjoyment,u,201601,211.319244,NaN,False,3747
279445,117646573,2016-01-18,167577,1.200000,paypal *hongkongba cd 2312,paypal,spend,services,True,hg5 8,2014-10-21,NaN,1995.0,2014-10-21,218818,2020-03-09 16:05:00,halifax personal banking,current,2016-01-19,2017-09-12,True,344.809998,paypal,enjoyment,NaN,enjoyment,u,201601,211.319244,NaN,True,3747
300132,202205976,2017-04-13,168377,20.000000,<mdbremoved> xxxxxx xxxx2868,NaN,transfers,tsransfer,False,b76 1,2014-10-21,NaN,1991.0,2014-10-21,77168,2018-06-09 03:18:00,halifax personal banking,savings,2017-04-19,2017-08-10,True,NaN,personal,transfers,NaN,transfers,u,201704,NaN,5145.000000,False,3876
300133,202205977,2017-04-13,168377,20.000000,<mdbremoved> xxxxxx xxxx2868,NaN,transfers,tsransfer,False,b76 1,2014-10-21,NaN,1991.0,2014-10-21,77168,2018-06-09 03:18:00,halifax personal banking,savings,2017-04-19,2017-08-10,True,NaN,personal,transfers,NaN,transfers,u,201704,NaN,5145.000000,True,3876
319045,478201685,2018-11-26,179377,8.330000,co-op group xx0445 cd 7221 deb,co-op,spend,household,None,rh10 4,2014-10-28,10k to 20k,1975.0,2018-05-21,958158,2020-08-16 03:26:00,halifax personal banking,current,2018-11-28,1900-01-01,True,678.239990,co-op supermarket,"food, groceries, household",NaN,"food, groceries, household",c,201811,2312.335938,9466.025923,False,3992
319046,478201686,2018-11-26,179377,8.330000,co-op group xx0445 cd 7221 deb,co-op,spend,household,None,rh10 4,2014-10-28,10k to 20k,1975.0,2018-05-21,958158,2020-08-16 03:26:00,halifax personal banking,current,2018-11-28,1900-01-01,True,678.239990,co-op supermarket,"food, groceries, household",NaN,"food, groceries, household",c,201811,2312.335938,9466.025923,True,3992
382068,63527811,2015-03-09,251377,10.000000,"call ref.no. 0000 , to a/c xxxxxx82 - dpc",NaN,transfers,tsransfer,True,ng19 9,2015-01-14,NaN,1986.0,2015-01-14,347944,2017-06-09 23:42:00,royal bank of scotland (rbs),savings,2015-03-11,2017-11-13,True,NaN,personal,transfers,NaN,transfers,u,201503,NaN,0.466667,False,4610
382069,63527812,2015-03-09,251377,10.000000,"call ref.no. 0000 , to a/c xxxxxx82 - dpc",NaN,transfers,tsransfer,True,ng19 9,2015-01-14,NaN,1986.0,2015-01-14,347944,2017-06-09 23:42:00,royal bank of scotland (rbs),savings,2015-03-11,2017-11-13,True,NaN,personal,transfers,NaN,transfers,u,201503,NaN,0.466667,True,4610
397468,149348474,2016-07-12,261677,5.100000,"1341 11jul16 c , sports bar and , grill c , london gb - pos",NaN,spend,services,True,me5 9,2015-01-24,NaN,1982.0,2015-01-24,359251,2018-04-22 04:39:00,natwest bank,current,2016-07-18,2020-05-19,True,-1013.369995,NaN,dining or going out,NaN,dining and drinking,u,201607,-3401.767334,33846.078125,False,4812
397469,149348476,2016-07-12,261677,5.100000,"1341 11jul16 c , sports bar and , grill c , london gb - pos",NaN,spend,services,True,me5 9,2015-01-24,NaN,1982.0,2015-01-24,359251,2018-04-22 04:39:00,natwest bank,current,2016-07-18,2020-05-19,True,-1013.369995,NaN,dining or going out,NaN,dining and drinking,u,201607,-3401.767334,33846.078125,True,4812
397470,149348471,2016-07-12,261677,5.100000,"1341 11jul16 c , sports bar and , grill c , london gb - pos",NaN,spend,services,True,me5 9,2015-01-24,NaN,1982.0,2015-01-24,359251,2018-04-22 04:39:00,natwest bank,current,2016-07-18,2020-05-19,True,-1013.369995,NaN,dining or going out,NaN,dining and drinking,u,201607,-3401.767334,33846.078125,True,4812
397471,149348477,2016-07-12,261677,5.100000,"1341 11jul16 c , sports bar and , grill c , london gb - pos",NaN,spend,services,True,me5 9,2015-01-24,NaN,1982.0,2015-01-24,359251,2018-04-22 04:39:00,natwest bank,current,2016-07-18,2020-05-19,True,-1013.369995,NaN,dining or going out,NaN,dining and drinking,u,201607,-3401.767334,33846.078125,True,4812
404337,565185506,2019-06-11,264077,16.340000,paypal payment direct debit 5fjj2227m8ew4 ddr,paypal,spend,services,False,ex38 8,2015-01-26,NaN,1973.0,2015-01-26,361332,2020-03-12 00:34:00,barclays,current,2019-06-12,1900-01-01,True,64.739998,paypal,enjoyment,NaN,enjoyment,c,201906,-946.040039,11.448000,False,4891
404339,565185509,2019-06-11,264077,16.340000,paypal payment direct debit 5fjj2227m8ew4 ddr,paypal,spend,services,False,ex38 8,2015-01-26,NaN,1973.0,2015-01-26,361332,2020-03-12 00:34:00,barclays,current,2019-06-12,1900-01-01,True,64.739998,paypal,enjoyment,NaN,enjoyment,c,201906,-946.040039,11.448000,True,4891
404340,565185510,2019-06-11,264077,16.340000,paypal payment direct debit 5fjj2227m8ew4 ddr,paypal,spend,services,False,ex38 8,2015-01-26,NaN,1973.0,2015-01-26,361332,2020-03-12 00:34:00,barclays,current,2019-06-12,1900-01-01,True,64.739998,paypal,enjoyment,NaN,enjoyment,c,201906,-946.040039,11.448000,True,4891
408117,433800225,2018-08-03,265477,15.000000,national lottery i cd 6638 deb,camelot,spend,services,False,ub4 8,2015-01-27,NaN,1988.0,2015-01-27,363750,2020-03-12 03:44:00,halifax personal banking,current,2018-08-05,1900-01-01,True,199.580002,camelot,gambling,NaN,gambling,c,201808,-3888.890625,NaN,False,4912
408118,433800227,2018-08-03,265477,15.000000,national lottery i cd 6638 deb,camelot,spend,services,False,ub4 8,2015-01-27,NaN,1988.0,2015-01-27,363750,2020-03-12 03:44:00,halifax personal banking,current,2018-08-05,1900-01-01,True,199.580002,camelot,gambling,NaN,gambling,c,201808,-3888.890625,NaN,True,4912
431196,271871884,2017-10-02,290377,13.250000,glossybox-b debit card ending: 1569 transaction date: 01oct17 organisation: glossybox-b - pos,NaN,spend,retail,True,b31 3,2015-03-28,NaN,1985.0,2015-03-28,408604,2018-10-14 19:30:00,natwest bank,current,2017-10-07,2017-11-13,True,209.270004,NaN,beauty products,NaN,beauty products,u,201710,173.550415,NaN,False,5104
431197,271871885,2017-10-02,290377,13.250000,glossybox-b debit card ending: 1569 transaction date: 01oct17 organisation: glossybox-b - pos,NaN,spend,retail,True,b31 3,2015-03-28,NaN,1985.0,2015-03-28,408604,2018-10-14 19:30:00,natwest bank,current,2017-10-07,2017-11-13,True,209.270004,NaN,beauty products,NaN,beauty products,u,201710,173.550415,NaN,True,5104
437742,294453171,2017-12-19,301677,8.000000,british gas tradin cd 7525,british gas,spend,household,True,rm9 4,2015-05-19,NaN,1981.0,2015-05-19,431223,2018-10-22 15:35:00,halifax personal banking,current,2017-12-22,2019-02-04,True,NaN,british gas,"energy (gas, elec, other)",NaN,gas,u,201712,NaN,NaN,False,5208
437743,294453175,2017-12-19,301677,8.000000,british gas tradin cd 7525,british gas,spend,household,True,rm9 4,2015-05-19,NaN,1981.0,2015-05-19,431223,2018-10-22 15:35:00,halifax personal banking,current,2017-12-22,2019-02-04,True,NaN,british gas,"energy (gas, elec, other)",NaN,gas,u,201712,NaN,NaN,True,5208
438905,462953854,2018-10-16,301677,10.000000,www.britishgas.co. cd 5231 deb,british gas,spend,household,True,rm9 4,2015-05-19,NaN,1981.0,2015-05-19,431297,2018-10-22 15:35:00,halifax personal banking,current,2018-10-18,1900-01-01,True,NaN,british gas,"energy (gas, elec, other)",NaN,"energy (gas, elec, other)",c,201810,NaN,NaN,False,5230