In [1]:
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import s3fs
import scipy
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.aggregators as ag
import entropy.data.cleaners as cl
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.data.validators as vl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [2]:
dfr = hd.read_raw_data("777")

Time for read_raw_data                 : 5.03 seconds

In [2]:
dft = hd.read_txn_data("777")

Time for read_txn_data                 : 8.99 seconds

In [21]:
dfa = hd.read_analysis_data('777')

Time for read_analysis_data            : 0.44 seconds

In [47]:
dfa_users = dfa.user_id.unique()
dfta = dft[dft.user_id.isin(dfa_users)]

In [24]:
dfa.filter(like='ssd_')

         ssd_tag  ssd_tag_auto  ssd_merchant
0       6.888889     15.337748      8.945129
1     166.888889    249.178808     71.628219
2      56.222222     83.496689     21.780515
3     134.888889    251.178808     88.705487
4      88.222222    116.635762     64.183651
..           ...           ...           ...
918  1296.888889   1228.543046    490.701008
919   850.888889    853.470199    424.512878
920   933.555556    693.549669    168.488242
921   954.000000    861.748344    279.695409
922   958.888889   1005.708609    418.268757

[923 rows x 3 columns]

In [7]:
k = ag._entropy_base_values(dft, "tag")
k

tag              finance  services  other_spend  household  motor  \
user_id ym
777     2012-02      6.0       6.0          2.0        3.0    2.0
        2012-04      2.0       2.0          2.0        1.0    2.0
        2012-05      7.0       7.0          7.0       14.0    1.0
        2012-06      6.0       4.0          7.0        3.0    2.0
        2012-07      8.0       6.0          8.0       12.0    4.0
...                  ...       ...          ...        ...    ...
587777  2020-03      3.0      71.0          5.0       26.0    4.0
        2020-04      0.0      38.0          1.0       21.0    1.0
        2020-05      0.0      36.0          5.0       15.0    1.0
        2020-06      0.0      24.0          1.0       25.0    3.0
        2020-07      0.0      38.0          7.0       13.0    1.0

tag              communication  retail  travel  hobbies
user_id ym
777     2012-02            1.0     0.0     0.0      0.0
        2012-04            0.0     1.0     0.0      0.0
        2012-05            1.0     6.0     1.0      0.0
        2012-06            1.0     0.0     0.0      0.0
        2012-07            1.0     5.0     0.0      0.0
...                        ...     ...     ...      ...
587777  2020-03            2.0    15.0     7.0      0.0
        2020-04            3.0     4.0     1.0      0.0
        2020-05            4.0     9.0     1.0      0.0
        2020-06            5.0     5.0     4.0      0.0
        2020-07            4.0     4.0     4.0      0.0

[7375 rows x 9 columns]

In [19]:
ag._cat_count_ssd(k)

user_id  ym
777      2012-02      45.555556
         2012-04       6.888889
         2012-05     166.888889
         2012-06      56.222222
         2012-07     134.888889
                       ...
587777   2020-03    4079.555556
         2020-04    1384.000000
         2020-05    1084.888889
         2020-06     778.222222
         2020-07    1150.888889
Length: 7375, dtype: float64

In [20]:
k

tag              finance  services  other_spend  household  motor  \
user_id ym
777     2012-02      6.0       6.0          2.0        3.0    2.0
        2012-04      2.0       2.0          2.0        1.0    2.0
        2012-05      7.0       7.0          7.0       14.0    1.0
        2012-06      6.0       4.0          7.0        3.0    2.0
        2012-07      8.0       6.0          8.0       12.0    4.0
...                  ...       ...          ...        ...    ...
587777  2020-03      3.0      71.0          5.0       26.0    4.0
        2020-04      0.0      38.0          1.0       21.0    1.0
        2020-05      0.0      36.0          5.0       15.0    1.0
        2020-06      0.0      24.0          1.0       25.0    3.0
        2020-07      0.0      38.0          7.0       13.0    1.0

tag              communication  retail  travel  hobbies
user_id ym
777     2012-02            1.0     0.0     0.0      0.0
        2012-04            0.0     1.0     0.0      0.0
        2012-05            1.0     6.0     1.0      0.0
        2012-06            1.0     0.0     0.0      0.0
        2012-07            1.0     5.0     0.0      0.0
...                        ...     ...     ...      ...
587777  2020-03            2.0    15.0     7.0      0.0
        2020-04            3.0     4.0     1.0      0.0
        2020-05            4.0     9.0     1.0      0.0
        2020-06            5.0     5.0     4.0      0.0
        2020-07            4.0     4.0     4.0      0.0

[7375 rows x 9 columns]