In [1]:
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import s3fs
import scipy
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.aggregators as ag
import entropy.data.cleaners as cl
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.data.validators as vl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [2]:
dfr = hd.read_raw_data("777")

Time for read_raw_data                 : 3.77 seconds

In [3]:
dft = hd.read_txn_data("777")

Time for read_txn_data                 : 2.41 seconds

In [26]:
dfa = hd.read_analysis_data("777")

Time for read_analysis_data            : 0.29 seconds

In [16]:
b = ag._entropy_counts(dft, "tag")

In [25]:
ag._entropy_base_values(dft, "tag", "size")

tag              finance  services  other_spend  household  motor  \
user_id ym
777     2012-02      6.0       6.0          2.0        3.0    2.0
        2012-04      2.0       2.0          2.0        1.0    2.0
        2012-05      7.0       7.0          7.0       14.0    1.0
        2012-06      6.0       4.0          7.0        3.0    2.0
        2012-07      8.0       6.0          8.0       12.0    4.0
...                  ...       ...          ...        ...    ...
587777  2020-03      3.0      71.0          5.0       26.0    4.0
        2020-04      0.0      38.0          1.0       21.0    1.0
        2020-05      0.0      36.0          5.0       15.0    1.0
        2020-06      0.0      24.0          1.0       25.0    3.0
        2020-07      0.0      38.0          7.0       13.0    1.0

tag              communication  retail  travel  hobbies
user_id ym
777     2012-02            1.0     0.0     0.0      0.0
        2012-04            0.0     1.0     0.0      0.0
        2012-05            1.0     6.0     1.0      0.0
        2012-06            1.0     0.0     0.0      0.0
        2012-07            1.0     5.0     0.0      0.0
...                        ...     ...     ...      ...
587777  2020-03            2.0    15.0     7.0      0.0
        2020-04            3.0     4.0     1.0      0.0
        2020-05            4.0     9.0     1.0      0.0
        2020-06            5.0     5.0     4.0      0.0
        2020-07            4.0     4.0     4.0      0.0

[7375 rows x 9 columns]