In [5]:
import sys

import numpy as np
import pandas as pd
import s3fs
import seaborn as sns

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.aggregators as agg
import entropy.data.cleaners as cl
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.data.validators as vl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [7]:
dft = hd.read_txn_data("777")
hd.inspect(dft)

Time for read_txn_data                 : 3.63 seconds
(649,820, 19)

,date,user_id,amount,desc,merchant,tag_group,tag,account_id,account_last_refreshed,account_provider,account_type,debit,desc_orig,female,id,latest_balance,postcode,tag_auto,yob
0,2012-02-01,777,400.00,mdbremoved,NaN,transfers,other_transfers,262916,2020-07-21 20:32:00,natwest bank,current,True,<mdbremoved> - s/o,0.0,688300,364.220001,wa1 4,transfers,1969.0
1,2012-02-01,777,3.03,aviva pa,aviva,spend,finance,262916,2020-07-21 20:32:00,natwest bank,current,True,aviva pa - d/d,0.0,688299,364.220001,wa1 4,health insurance,1969.0

In [17]:
dft[dft.merchant.eq("amazon")].assign(ym=lambda df: df.date.dt.to_period("m")).groupby('ym').agg(users=('user_id', 'nunique'), txns=('amount', 'count')).assign(txns_per_user=lambda df: df.txns / df.users).txns_per_user.

         users  txns  txns_per_user
ym
2012-08      1     1       1.000000
2012-09      1     2       2.000000
2012-10      1     1       1.000000
2012-12      1     1       1.000000
2013-01      2    10       5.000000
2013-02      3    11       3.666667
2013-03      1     3       3.000000
2013-04      4    12       3.000000
2013-05      2     8       4.000000
2013-06      5    11       2.200000
2013-07      3     9       3.000000
2013-08      4     6       1.500000
2013-09      5    12       2.400000
2013-10      5    11       2.200000
2013-11      6    22       3.666667
2013-12      8    32       4.000000
2014-01      5    29       5.800000
2014-02      9    72       8.000000
2014-03     12    77       6.416667
2014-04     15    73       4.866667
2014-05     16   126       7.875000
2014-06     22   107       4.863636
2014-07     27   141       5.222222
2014-08     29   136       4.689655
2014-09     29   148       5.103448
2014-10     25   126       5.040000
2014-11     25   125       5.000000
2014-12     41   225       5.487805
2015-01     33   126       3.818182
2015-02     28   147       5.250000
2015-03     28   121       4.321429
2015-04     31   138       4.451613
2015-05     27   108       4.000000
2015-06     27   115       4.259259
2015-07     26   103       3.961538
2015-08     22    79       3.590909
2015-09     20    60       3.000000
2015-10     25    79       3.160000
2015-11     25   115       4.600000
2015-12     34   180       5.294118
2016-01     27   128       4.740741
2016-02     30   116       3.866667
2016-03     23   139       6.043478
2016-04     26   127       4.884615
2016-05     25   123       4.920000
2016-06     26   109       4.192308
2016-07     27   107       3.962963
2016-08     24   119       4.958333
2016-09     33   153       4.636364
2016-10     26   155       5.961538
2016-11     35   188       5.371429
2016-12     44   265       6.022727
2017-01     34   205       6.029412
2017-02     54   249       4.611111
2017-03     54   240       4.444444
2017-04     51   246       4.823529
2017-05     56   325       5.803571
2017-06     62   297       4.790323
2017-07     55   330       6.000000
2017-08     64   339       5.296875
2017-09     64   269       4.203125
2017-10     72   411       5.708333
2017-11     65   410       6.307692
2017-12     86   625       7.267442
2018-01     83   395       4.759036
2018-02     73   384       5.260274
2018-03     74   343       4.635135
2018-04     66   301       4.560606
2018-05     71   414       5.830986
2018-06     73   412       5.643836
2018-07     80   534       6.675000
2018-08     81   448       5.530864
2018-09     76   428       5.631579
2018-10     83   473       5.698795
2018-11     79   466       5.898734
2018-12     94   739       7.861702
2019-01     80   401       5.012500
2019-02     72   361       5.013889
2019-03     75   449       5.986667
2019-04     79   464       5.873418
2019-05     66   473       7.166667
2019-06     71   416       5.859155
2019-07     73   473       6.479452
2019-08     66   430       6.515152
2019-09     63   360       5.714286
2019-10     53   281       5.301887
2019-11     47   238       5.063830
2019-12     61   467       7.655738
2020-01     48   263       5.479167
2020-02     43   172       4.000000
2020-03     24   178       7.416667
2020-04     22   143       6.500000
2020-05     24   178       7.416667
2020-06     16   104       6.500000
2020-07     17   106       6.235294