In [1]:
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import s3fs
import scipy
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.aggregators as ag
import entropy.data.cleaners as cl
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.data.validators as vl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

In [2]:
dfr = hd.read_raw_data("777")

Time for read_raw_data                 : 5.03 seconds

In [44]:
dft = hd.read_txn_data("X77")

Time for read_txn_data                 : 31.12 seconds

In [46]:
dfa = hd.read_analysis_data()

Time for read_analysis_data            : 3.00 seconds

In [47]:
dfa_users = dfa.user_id.unique()
dfta = dft[dft.user_id.isin(dfa_users)]

In [48]:
dfta.user_id.nunique()

366

In [49]:
ag.txn_counts(dfta)

,date,user_id,amount,desc,merchant,tag_group,tag,user_registration_date,account_created,account_id,account_last_refreshed,account_provider,account_type,birth_year,data_warehouse_date_created,data_warehouse_date_last_updated,id,is_debit,is_female,is_sa_flow,is_salary_pmt,is_urban,latest_balance,lsoa,merchant_business_line,msoa,postcode,region_name,salary_range,tag_auto,tag_manual,tag_up,updated_flag,ym
0,2012-08-01,77,12.120000,tv licence mbp - d/d,tv licensing,spend,communication,2010-07-10,2012-10-26,259583,2015-09-11 00:00:00,natwest bank,current,1945.0,2014-07-18,2015-03-19,1212601,True,0.0,False,False,1.0,NaN,e01002984,tv licensing,e02000609,kt3 5,london,NaN,tv licence,no tag,tv licence,u,2012-08
1,2012-08-01,77,13.810000,amazon mktplace pmts amzn.com/billgbr,amazon,spend,services,2010-07-10,2012-10-26,259584,2014-03-06 00:00:00,natwest bank,credit card,1945.0,2014-07-18,2017-08-15,1213850,True,0.0,False,False,1.0,NaN,e01002984,amazon,e02000609,kt3 5,london,NaN,enjoyment,no tag,no tag,u,2012-08
2,2012-08-01,77,7.690000,amazon eu amazon.co.uk lux,amazon,spend,services,2010-07-10,2012-10-26,259584,2014-03-06 00:00:00,natwest bank,credit card,1945.0,2014-07-18,2017-08-15,1213848,True,0.0,False,False,1.0,NaN,e01002984,amazon,e02000609,kt3 5,london,NaN,enjoyment,no tag,no tag,u,2012-08
3,2012-08-02,77,27.500000,"7997 01aug12 , iceland , new malden gb - pos",iceland,spend,household,2010-07-10,2012-10-26,259583,2015-09-11 00:00:00,natwest bank,current,1945.0,2014-07-18,2017-08-15,1212599,True,0.0,False,False,1.0,NaN,e01002984,iceland,e02000609,kt3 5,london,NaN,"food, groceries, household",no tag,no tag,u,2012-08
4,2012-08-02,77,7.690000,"7997 01aug12 , amazon eu , amazon.co.uk lu - pos",amazon,spend,services,2010-07-10,2012-10-26,259583,2015-09-11 00:00:00,natwest bank,current,1945.0,2014-07-18,2017-08-15,1212600,True,0.0,False,False,1.0,NaN,e01002984,amazon,e02000609,kt3 5,london,NaN,enjoyment,no tag,no tag,u,2012-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6627658,2020-07-28,589277,87.559998,lloyds bank mtg,lloyds,spend,household,2020-07-29,2020-07-29,1727846,2020-08-16 00:57:00,natwest bank,current,1970.0,2020-07-30,1900-01-01,802628333,True,0.0,False,False,1.0,253.339996,w01001691,lloyds,w02000357,np19 8,wales,10k to 20k,mortgage payment,no tag,mortgage payment,c,2020-07
6627659,2020-07-28,589277,5.000000,exchanged to xlm,NaN,transfers,other_transfers,2020-07-29,2020-07-30,1728045,2020-08-16 10:16:00,revolut,current,1970.0,2020-07-31,1900-01-01,802777208,True,0.0,False,False,1.0,7.940000,w01001691,personal,w02000357,np19 8,wales,10k to 20k,transfers,no tag,transfers,c,2020-07
6627660,2020-07-29,589277,27.950001,lloyds mortgages,lloyds,spend,household,2020-07-29,2020-07-29,1727853,2020-08-16 03:31:00,lloyds bank,current,1970.0,2020-07-30,1900-01-01,802675407,True,0.0,False,False,1.0,1406.550049,w01001691,lloyds,w02000357,np19 8,wales,10k to 20k,mortgage payment,no tag,mortgage payment,c,2020-07
6627661,2020-07-29,589277,-50.000000,<mdbremoved>,NaN,NaN,NaN,2020-07-29,2020-07-29,1727846,2020-08-16 00:57:00,natwest bank,current,1970.0,2020-07-31,1900-01-01,802919697,False,0.0,False,False,1.0,253.339996,w01001691,no merchant business line,w02000357,np19 8,wales,10k to 20k,NaN,no tag,no tag,c,2020-07
6627662,2020-07-30,589277,90.000000,5963 29jul20 hmcourts-svs.gov.u01509 215715 gb,NaN,spend,finance,2020-07-29,2020-07-29,1727846,2020-08-16 00:57:00,natwest bank,current,1970.0,2020-08-01,1900-01-01,803132967,True,0.0,False,False,1.0,253.339996,w01001691,unknown merchant,w02000357,np19 8,wales,10k to 20k,fines,no tag,fines,c,2020-07

In [7]:
ag.grocery_shop_entropy(dft)

Time for grocery_shop_entropy          : 0.06 seconds

                 entropy_groc  entropy_groc_n  entropy_groc_z  entropy_groc_s  \
user_id ym
777     2012-02      0.918296        0.276435       -0.300217        3.180833
        2012-04      0.000000        0.000000       -1.645855        3.277613
        2012-05      1.918296        0.577465        1.165148        2.971747
        2012-06      0.918296        0.276435       -0.300217        3.180833
        2012-07      1.721928        0.518352        0.877398        2.960964
...                       ...             ...             ...             ...
587777  2020-03      2.170951        0.653521        1.535379        2.892811
        2020-04      2.038160        0.613547        1.340792        2.963810
        2020-05      2.246439        0.676246        1.645998        3.108695
        2020-06      2.352746        0.708247        1.801776        3.042481
        2020-07      2.186704        0.658264        1.558464        3.064970

                 entropy_groc_sn  entropy_groc_sz
user_id ym
777     2012-02         0.957526         0.993167
        2012-04         0.986660         1.278977
        2012-05         0.894585         0.375701
        2012-06         0.957526         0.993167
        2012-07         0.891339         0.343856
...                          ...              ...
587777  2020-03         0.870823         0.142589
        2020-04         0.892196         0.352260
        2020-05         0.935810         0.780131
        2020-06         0.915878         0.584591
        2020-07         0.922648         0.651003

[6217 rows x 6 columns]