In [2]:
import sys

import pandas as pd
import s3fs

sys.path.append("/Users/fgu/dev/projects/entropy")
import entropy.data.cleaners as cl
import entropy.data.creators as cr
import entropy.data.make_data as md
import entropy.data.selectors as sl
import entropy.helpers.aws as ha
import entropy.helpers.data as hd
import entropy.helpers.helpers as hh

pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)
pd.set_option("max_colwidth", None)
%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile="3di")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
raw_data = hd.read_raw_sample("777")
clean = md.clean_data(raw_data)
hd.inspect(clean)

Time for read_raw_sample: 3.78 seconds
(647,855, 29)

,id,date,user_id,amount,desc,merchant,tag_group,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,desco,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,updated_flag,ym
9,688300,2012-02-01,777,400.00,mdbremoved,NaN,transfers,other_transfers,0.0,wa1 4,2011-07-20,20k to 30k,1969.0,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,2014-07-18,2017-11-13,True,<mdbremoved> - s/o,364.220001,non merchant mbl,transfers,other account,other account,u,201202
10,688299,2012-02-01,777,3.03,aviva pa,aviva,spend,finance,0.0,wa1 4,2011-07-20,20k to 30k,1969.0,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,2014-07-18,2017-08-15,True,aviva pa - d/d,364.220001,aviva,health insurance,life insurance,life insurance,u,201202

In [80]:
md.select_sample(clean)

add_raw_count
279
min_number_of_months
235
no_missing_months
207
account_balances_available
154
min_spend
112
current_account
110
income_pmts
79

AttributeError: 'DataFrameGroupBy' object has no attribute 'income'

In [75]:
(
    clean.pipe(user_count)
    .pipe(has_current_and_savings_account)
    .pipe(user_count)
    .pipe(sl.min_number_of_months)
    .pipe(user_count)
    .pipe(sl.no_missing_months)
    .pipe(user_count)
)

279
156
143
125

,id,date,user_id,amount,desc,merchant,tag_group,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,desco,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,updated_flag,ym
1149,2981363,2012-11-01,7777,-800.000000,mdbremoved bac,NaN,NaN,NaN,0.0,gu14 9,2012-10-27,NaN,1983.0,2013-01-06,151112,2020-03-11 16:27:00,natwest bank,current,2014-07-18,2019-02-04,False,<mdbremoved> bac,3110.219971,NaN,NaN,NaN,NaN,u,201211
1151,2981500,2012-11-01,7777,11.980000,forces financial,forces financial,spend,finance,0.0,gu14 9,2012-10-27,NaN,1983.0,2013-01-06,151110,2020-03-11 16:27:00,natwest bank,current,2014-07-18,2017-12-04,True,forces financial - d/d,22128.669922,forces financial,insurance,home insurance,home insurance,u,201211
1154,2981503,2012-11-01,7777,59.779999,royal sunalliance,royal sun alliance,spend,finance,0.0,gu14 9,2012-10-27,NaN,1983.0,2013-01-06,151110,2020-03-11 16:27:00,natwest bank,current,2014-07-18,2017-11-13,True,royal sunalliance - d/d,22128.669922,royal sun alliance,insurance,vehicle insurance,vehicle insurance,u,201211
1156,2981506,2012-11-01,7777,800.000000,mdbremoved,NaN,NaN,NaN,0.0,gu14 9,2012-10-27,NaN,1983.0,2013-01-06,151110,2020-03-11 16:27:00,natwest bank,current,2014-07-18,2017-10-24,True,<mdbremoved> - s/o,22128.669922,non merchant mbl,NaN,other account,other account,u,201211
1158,2981505,2012-11-01,7777,19.500000,5920 31oct 12 speedy chinese tak farnborough gb,NaN,NaN,NaN,0.0,gu14 9,2012-10-27,NaN,1983.0,2013-01-06,151110,2020-03-11 16:27:00,natwest bank,current,2014-07-18,2017-10-23,True,"5920 31oct12 , speedy chinese tak, farnborough gb - pos",22128.669922,NaN,NaN,dining and drinking,dining and drinking,u,201211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675868,764813240,2020-04-28,570777,37.450001,admiral insurance p 014 ddr,admiral insurance,spend,finance,0.0,wa5 8,2020-02-10,NaN,1979.0,2020-02-10,1592398,2020-05-09 17:18:00,barclays,current,2020-04-29,1900-01-01,True,admiral insurance pxxxxxxxxxxxxxx014 ddr,1739.920044,admiral insurance,vehicle insurance,NaN,vehicle insurance,c,202004
675871,764818094,2020-04-28,570777,41.419998,mdbremoved bbp,NaN,transfers,other_transfers,0.0,wa5 8,2020-02-10,NaN,1979.0,2020-02-10,1592398,2020-05-09 17:18:00,barclays,current,2020-04-29,1900-01-01,True,<mdbremoved> bbp,1739.920044,NaN,transfers,NaN,transfers,c,202004
675932,764815348,2020-04-28,570777,-3004.639893,mdbremoved,NaN,income,earnings,0.0,wa5 8,2020-02-10,NaN,1979.0,2020-02-10,1592398,2020-05-09 17:18:00,barclays,current,2020-04-29,2020-05-20,False,<mdbremoved>,1739.920044,NaN,salary or wages (main),NaN,NaN,u,202004
675024,765299597,2020-04-29,570777,6.990000,microsoft xbox liv on 28 apr bcc,microsoft,spend,services,0.0,wa5 8,2020-02-10,NaN,1979.0,2020-02-10,1592398,2020-05-09 17:18:00,barclays,current,2020-04-30,1900-01-01,True,microsoft*xbox liv on 28 apr bcc,1739.920044,microsoft,games and gaming,NaN,games and gaming,c,202004
675093,766430204,2020-04-30,570777,156.830002,wbc council tax 887x ddr,NaN,spend,household,0.0,wa5 8,2020-02-10,NaN,1979.0,2020-02-10,1592398,2020-05-09 17:18:00,barclays,current,2020-05-02,1900-01-01,True,wbc council tax xxxxx887x ddr,1739.920044,public sector,council tax,NaN,council tax,c,202004