Notebook purpose

- Build tags following muggleton2021evidence

In [18]:
import os
import sys
import numpy as np
import pandas as pd
sys.path.append('/Users/fgu/dev/projects/entropy')
import entropy.helpers.aws as aws
import entropy.data.cleaners as cl
import entropy.data.creators as cr

pd.set_option('display.max_rows', 120)
pd.set_option('display.max_columns', 120)
pd.set_option('max_colwidth', None)

pd.set_option('display.max_seq_items', None)


%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
SAMPLE = 'X77'
fp = f'~/tmp/entropy_{SAMPLE}.parquet'

df = aws.read_parquet(fp)
df.head(2)

,id,date,user_id,amount,desc,merchant,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,ym,balance,income
0,688261,2012-01-03,777,400.00,<mdbremoved> - s/o,NaN,transfers,False,wa1 4,2011-07-20,20k to 30k,1969.0,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,2014-07-18,2017-11-13,True,364.220001,non merchant mbl,transfers,other account,other account,201201,-1451.075562,24319.220881
1,688264,2012-01-03,777,10.27,"9572 30dec11 , mcdonalds , restaurant , winwick road gb - pos",mcdonalds,dining and drinking,False,wa1 4,2011-07-20,20k to 30k,1969.0,2011-07-20,262916,2020-07-21 20:32:00,natwest bank,current,2014-07-18,2015-03-19,True,364.220001,mcdonalds,dining and drinking,NaN,dining and drinking,201201,-1451.075562,24319.220881

In [3]:
lbg_tags = ['Communication', 'Finance', 'Hobbies', 'Household', 'Miscellaneous', 'Motor', 'Retail', 'Services', 'Travel', 'Other']
argus_tags = ['Airlines', 'Auto rental', 'Hotel/motel', 'Restaurants/bars', 'Travel agencies', 'Other transportation', 'Department stores', 'Discount stores', 'Clothing stores', 'Hardware stores', 'Drug stores', 'Gas stations', 'Mail orders', 'Food stores', 'Vehicles', 'Interior furnishing stores', 'Electric appliance stores', 'Sporting goods/toy stores', 'Other retail', 'Health care', 'Recreation', 'Education', 'Utilities', 'Professional services', 'Repair shops', 'Other services', 'Quasi cash']

my_tags [
    'Communication',
    'Finance',
    'Hobbies',
    'Household',
    'Motor',
    'Retail',
    'Eating out',
    'Services',
    'Transport',
    'Other'
]


    
]

In [21]:
mdb_tags = df.tag_auto.cat.categories

In [27]:
[a for a in lbg_tags]

['Communication',
 'Finance',
 'Hobbies',
 'Household',
 'Miscellaneous',
 'Motor',
 'Retail',
 'Services',
 'Travel',
 'Other']

In [38]:
df[df.tag_auto.str.contains('water', na=False)]

,id,date,user_id,amount,desc,merchant,tag,user_female,user_postcode,user_registration_date,user_salary_range,user_yob,account_created,account_id,account_last_refreshed,account_provider,account_type,data_warehouse_date_created,data_warehouse_date_last_updated,debit,latest_balance,merchant_business_line,tag_auto,tag_manual,tag_up,ym,balance,income
1646,43934688,2014-09-07,777,44.990002,direct debit united util water - united util water,united utilities,water,False,wa1 4,2011-07-20,20k to 30k,1969.0,2014-11-19,262914,2016-07-24 15:29:00,nationwide,current,2014-11-19,2017-12-04,True,1637.530029,united utilities,water,NaN,water,201409,2615.310303,26179.169922
1761,43934698,2014-10-07,777,44.990002,direct debit united util water - united util water,united utilities,water,False,wa1 4,2011-07-20,20k to 30k,1969.0,2014-11-19,262914,2016-07-24 15:29:00,nationwide,current,2014-11-19,2017-12-04,True,1637.530029,united utilities,water,NaN,water,201410,3080.120361,26179.169922
1874,43934708,2014-11-09,777,44.990002,direct debit united util water - united util water,united utilities,water,False,wa1 4,2011-07-20,20k to 30k,1969.0,2014-11-19,262914,2016-07-24 15:29:00,nationwide,current,2014-11-19,2017-12-04,True,1637.530029,united utilities,water,NaN,water,201411,3544.930420,26179.169922
2008,46736324,2014-12-07,777,44.990002,direct debit united util water - united util water,united utilities,water,False,wa1 4,2011-07-20,20k to 30k,1969.0,2014-11-19,262914,2016-07-24 15:29:00,nationwide,current,2014-12-09,2017-12-04,True,1637.530029,united utilities,water,NaN,water,201412,1243.460327,26179.169922
2132,52143293,2015-01-07,777,44.990002,direct debit united util water - united util water,united utilities,water,False,wa1 4,2011-07-20,20k to 30k,1969.0,2014-11-19,262914,2016-07-24 15:29:00,nationwide,current,2015-01-09,2017-12-04,True,1637.530029,united utilities,water,NaN,water,201501,1586.950317,27538.970703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299713,788872296,2020-05-28,587177,14.000000,"direct debit payment to essex&suffolkwater ref xxxxxxxxx010, mandate no 0006",essex & suffolk water,water,False,cm12 0,2020-06-13,30k to 40k,1964.0,2020-06-14,1708319,2020-08-16 08:35:00,santander,current,2020-06-15,1900-01-01,True,18552.080078,essex & suffolk water,water,NaN,water,202005,15653.900391,37865.039062
1299738,788872286,2020-06-08,587177,18.000000,"direct debit payment to anglian water ref xxxxxx944, mandate no 0004",anglian water,water,False,cm12 0,2020-06-13,30k to 40k,1964.0,2020-06-14,1708319,2020-08-16 08:35:00,santander,current,2020-06-15,1900-01-01,True,18552.080078,anglian water,water,NaN,water,202006,16318.799805,37865.039062
1299785,793460099,2020-06-29,587177,14.000000,"direct debit payment to essex&suffolkwater ref xxxxxxxxx010, mandate no 0006",essex & suffolk water,water,False,cm12 0,2020-06-13,30k to 40k,1964.0,2020-06-14,1708319,2020-08-16 08:35:00,santander,current,2020-07-01,1900-01-01,True,18552.080078,essex & suffolk water,water,NaN,water,202006,17692.759766,37865.039062
1299809,796320457,2020-07-08,587177,18.000000,"direct debit payment to anglian water ref xxxxxx944, mandate no 0004",anglian water,water,False,cm12 0,2020-06-13,30k to 40k,1964.0,2020-06-14,1708319,2020-08-16 08:35:00,santander,current,2020-07-10,1900-01-01,True,18552.080078,anglian water,water,NaN,water,202007,17884.589844,37865.039062
1299866,802341059,2020-07-28,587177,14.000000,"direct debit payment to essex&suffolkwater ref xxxxxxxxx010, mandate no 0006",essex & suffolk water,water,False,cm12 0,2020-06-13,30k to 40k,1964.0,2020-06-14,1708319,2020-08-16 08:35:00,santander,current,2020-07-29,1900-01-01,True,18552.080078,essex & suffolk water,water,NaN,water,202007,18252.080078,37865.039062

In [ ]:
mdb_lbg = {
    
    'Communication': [],
    
    'Finance': [
        'bank charges',
        'banking charges',
    ],
    
    'Hobbies': [
        'art',
        'art supplies',
    ],
    
    'Household': [
        'alcohol',
        'appliances or electrical',

    ],
        
    'Motor': [],
    
    'Retail': [
        'accessories',
        'appearance',
    ],
    
    'Services': [],
    
    'Travel': [],
    
    'Other': [
        'administration - other',
    ],
}


'beauty products',
'beauty treatments',
'benefits',
'bills',
'books / magazines / newspapers',
'breakdown cover',
'broadband',
'bursary',
'business expenses',
'car fund',
'cash',
'charity - other',
'child - clothes',
'child - everyday or childcare',
'child - toys, clubs or other',
'childcare fees',
'children - other',
'childrens club fees',
'cinema',
'clothes',
'clothes - designer or other',
'clothes - everyday or work',
'clothes - other',
'coal/oil/lpg/other',
'concert & theatre',
'contents or other insurance',
'council tax',
'course and tuition fees',
'credit card',
'credit card repayment',
'current account',
'cycling',
'dental insurance',
'dental treatment',
'designer clothes',
'device rental',
'dining and drinking',
'dining or going out',
'diy',
'donation to organisation',
'driving lessons',
'dry cleaning and laundry',
'education - other',
'electrical equipment',
'electricity',
'energy (gas, elec, other)',
'enjoyment',
'entertainment, tv, media',
'expenses',
'eye care',
'family benefits',
'financial - other',
'fines',
'flights',
'flowers',
'food, groceries, household',
'fuel',
'furniture',
'furniture, furnishing, gardens',
'gambling',
'games and gaming',
'garden',
'gas',
'gas and electricity',
'general savings',
'gifts - other',
'gifts or presents',
'groceries',
'gym membership',
'hairdressing',
'hairdressing, health, other',
'health insurance',
'hire purchase',
'hobbies - other',
'hobbies or activities',
'hobby club membership',
'hobby supplies',
'holiday',
'holidays',
'home',
'home and garden - other',
'home appliance insurance',
'home diy or repairs',
'home insurance',
'hotel/b&b',
'household - other',
'income insurance',
'insurance',
'insurance - other',
'interest charges',
'interest income',
'investment - other',
'investments or shares',
'irregular income or gifts',
'isa',
'jewellery',
'legal',
'life insurance',
'lifestyle - other',
'lighting',
'lunch or snacks',
'media bundle',
'medical treatment',
'medical, dental, eye care',
'memberships',
'mobile',
'mobile app',
'mobile phone insurance',
'mortgage or rent',
'mortgage payment',
'mortgage release',
'motorbike insurance',
'museum/exhibition',
'music',
'musical equipment',
'one-off or other',
'one-off or other payment',
'other benefits',
'parking',
'parking or tolls',
'payday loan',
'payday loan funds',
'payment protection insurance',
'paypal account',
'penalty charges',
'pension',
'pension or investments',
'personal care - other',
'personal electronics',
'personal loan',
'pet - everyday or food',
'pet - toys, training, other',
'pet insurance',
'phone (landline)',
'phone or internet',
'photography',
'physiotherapy',
'postage / shipping',
'printing',
'public transport',
'refunded purchase',
'rent',
'rental income (room)',
'rental income (whole property)',
'repayments',
'rewards/cashback',
'road charges',
'salary (secondary)',
'salary or wages (main)',
'saving (general)',
'savings',
'savings (general)',
'school fees',
'secured loan repayment',
'service / parts / repairs',
'sharedealing account',
'shoes',
'social club',
'software',
'spa',
'sports club membership',
'sports equipment',
'sports event',
'stationery',
'stationery & consumables',
'store card repayment',
'student loan funds',
'student loan repayment',
'supermarket',
'take-away',
'tax payment',
'taxi',
'taxis or vehicle hire',
'toiletries',
'toys',
'tradesmen fees',
'transfers',
'transport',
'tv / movies package',
'tv licence',
'unsecured loan funds',
'unsecured loan repayment',
'vehicle',
'vehicle hire',
'vehicle insurance',
'vehicle running costs',
'vehicle tax',
'vet',
'water',
'web hosting',
'winnings',
'work pension',
'zoo/theme park'
}